{
  "swagger": "2.0",
  "info": {
    "description": "Fortanix Confidential Computing Manager Backend. These are APIs using which the frontend and other clients (compute node agents) interact with Fortanix Confidential Computing Manager functionalities, which include compute node and app enrollment, attestation and signing, and Certificate Authority.",
    "version": "2.0.0",
    "title": "Confidential Computing Manager",
    "termsOfService": "https://www.fortanix.com/legal/terms/",
    "contact": {
      "name": "Fortanix Support",
      "url": "https://support.fortanix.com/hc/en-us/categories/360003107511-Confidential-Computing-Manager",
      "email": "support@fortanix.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "ccm.fortanix.com",
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "bearerToken": {
      "type": "apiKey",
      "in": "header",
      "name": "Authentication",
      "description": "A JWT bearer token to be passed once authenticated."
    }
  },
  "paths": {
    "/v1/zones": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Get all zones.",
        "description": "Get details of all the zones.",
        "operationId": "getZones",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Details of all the zones.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Zone"
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zone-id}": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Get zone details.",
        "description": "Get details for a zone.",
        "operationId": "getZone",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the zone.",
            "schema": {
              "$ref": "#/definitions/Zone"
            }
          }
        }
      }
    },
    "/v1/zones/{zone-id}/token": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Get the authentication token.",
        "description": "\"Retrieve the authentication token (\"join token\") used to enroll compute nodes in this zone.\"\n",
        "operationId": "getZoneJoinToken",
        "x-auth-resource": "Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "Join token for the zone.",
            "schema": {
              "$ref": "#/definitions/ZoneJoinToken"
            }
          }
        }
      }
    },
    "/v1/zones/{zone-id}/certificates": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Get all zone certificates",
        "description": "Get all certificates in the specified zone",
        "operationId": "GetZoneCertificates",
        "x-auth-resource": "Reader,Writer,Manager,ServiceAuth,AdminIfAuth",
        "parameters": [
          {
            "$ref": "#/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of all zone certificates.",
            "schema": {
              "$ref": "#/definitions/ZoneCertificates"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Zone"
        ],
        "summary": "Create a new zone certificate",
        "description": "Creates a new Zone Certificate for the specified Zone",
        "operationId": "createZoneCertificate",
        "x-auth-resource": "Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the new zone certificate.",
            "schema": {
              "$ref": "#/definitions/ZoneCertificateCreateResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/zones/{zone-id}/certificates/rotate": {
      "post": {
        "tags": [
          "Zone"
        ],
        "summary": "Rotate zone certificate",
        "description": "Rotates the Zone Certificate for the specified Zone",
        "operationId": "rotateZoneCertificate",
        "x-auth-resource": "Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the new zone certificate.",
            "schema": {
              "$ref": "#/definitions/ZoneCertificates"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get all accounts.",
        "description": "Get detailed information about all accounts that the current user has permission to see.",
        "operationId": "getAccounts",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Specify the scope from which to get the accounts. Possible options: USER, SYSTEM.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of accounts to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "previous_id",
            "in": "query",
            "description": "Id of account from previous page of results.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "All account details for the current user.",
            "schema": {
              "$ref": "#/definitions/AccountListResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create a new account.",
        "description": "Create a new account with the specified properties. Only an authenticated user can create an account.",
        "parameters": [
          {
            "$ref": "#/parameters/AccountRequest"
          }
        ],
        "operationId": "createAccount",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "The details of the account created.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/accounts/{account-id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a specific account.",
        "description": "Look up an account by account ID. Current user must belong to a particular account.",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "$ref": "#/parameters/WithTotals"
          }
        ],
        "operationId": "getAccount",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Particular account details.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete an account.",
        "description": "Remove an account.",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "operationId": "deleteAccount",
        "x-auth-resource": "NoAuth",
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an account.",
        "description": "Update the properties of an account. Only certain properties may be changed with this API.",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "$ref": "#/parameters/AccountUpdateRequest"
          }
        ],
        "operationId": "updateAccount",
        "x-auth-resource": "Manager, UserAuth",
        "responses": {
          "200": {
            "description": "Updated account.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/builds": {
      "get": {
        "tags": [
          "Build"
        ],
        "summary": "Get all images information.",
        "description": "Get the image's information with all the attributes.",
        "operationId": "getAllBuilds",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on all fields(docker image name, app name, mrenclave, mrsigner, app output image name).",
            "required": false,
            "type": "string"
          },
          {
            "name": "docker_image_name",
            "in": "query",
            "description": "Search on docker image name or app's output image name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "config_id",
            "in": "query",
            "description": "Search builds with access to application config id.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/BuildDeploymentStatusType"
          },
          {
            "$ref": "#/parameters/BuildStatusType"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of images to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of images to skip from start.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to use for items, currently supports list of groups",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for image objects.",
            "schema": {
              "$ref": "#/definitions/GetAllBuildsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Build"
        ],
        "summary": "Create a new image.",
        "description": "Create a new image.",
        "operationId": "createBuild",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created image.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/builds/{build-id}": {
      "get": {
        "tags": [
          "Build"
        ],
        "summary": "Get details of a particular image.",
        "description": "Details of a particular image.",
        "operationId": "getBuild",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/BuildId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an image.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Build"
        ],
        "summary": "Delete a particular image.",
        "description": "Delete a particular image.",
        "operationId": "deleteBuild",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/BuildId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Build"
        ],
        "summary": "Update details of a particular image.",
        "description": "Update details of a particular image.",
        "operationId": "updateBuild",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/BuildId"
          },
          {
            "$ref": "#/parameters/BuildUpdateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a compute node.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/builds/deployments/{build-id}": {
      "get": {
        "tags": [
          "Build"
        ],
        "summary": "Get all deployments of an image.",
        "description": "Get all deployments of an image.",
        "operationId": "getBuildDeployments",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/BuildId"
          },
          {
            "$ref": "#/parameters/AppStatusType"
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on all fields (image status and compute node name).",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of images to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of images to skip from start.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of image deployments.",
            "schema": {
              "$ref": "#/definitions/GetAllBuildDeploymentsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/builds/convert-app/nitro-enclaves": {
      "post": {
        "tags": [
          "Build"
        ],
        "summary": "Convert a docker image and create a new Nitro enclaves converted image.",
        "description": "Convert a docker image and create a new Nitro enclaves converted image.",
        "operationId": "convertAppBuildNitroEnclaves",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/NitroEnclavesConversionRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created image.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/builds/convert-app/aci": {
      "post": {
        "tags": [
          "Build"
        ],
        "summary": "Analyze a docker image and create Confidential ACI deployment templates.",
        "description": "Analyze a docker image and create Confidential ACI deployment templates.",
        "operationId": "convertAppBuildAci",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/AciConversionRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created image.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/nodes": {
      "get": {
        "tags": [
          "Node"
        ],
        "summary": "Get all compute nodes information.",
        "description": "Get compute nodes information with status.",
        "operationId": "getAllNodes",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Compute node name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Compute node description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sgx_version",
            "in": "query",
            "description": "Search on node's SGX platform software version.",
            "required": false,
            "type": "string"
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on name or description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "attestation_type",
            "in": "query",
            "description": "Node Attestation type (DCAP, NITRO_ENCLAVE or AMD_SEV_SNP).",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/NodeStatusType"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of compute nodes to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of compute nodes to skip from start.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter query supports searching by list of node_id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for compute node objects.",
            "schema": {
              "$ref": "#/definitions/GetAllNodesResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Node"
        ],
        "summary": "Provision a new compute node.",
        "description": "Provision a new compute node.",
        "operationId": "provisionNode",
        "x-auth-resource": "Manager,JoinTokenAuth",
        "parameters": [
          {
            "$ref": "#/parameters/NodeProvisionRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Compute node creation task.",
            "schema": {
              "$ref": "#/definitions/TaskResult"
            }
          }
        }
      }
    },
    "/v1/nodes/{node-id}": {
      "get": {
        "tags": [
          "Node"
        ],
        "summary": "Get details of a particular compute node.",
        "description": "Details of a particular compute node.",
        "operationId": "getNode",
        "x-auth-resource": "Reader,Writer,Manager,AgentAuth",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a compute node.",
            "schema": {
              "$ref": "#/definitions/Node"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Node"
        ],
        "summary": "Update details of a particular compute node.",
        "description": "Update details of a particular compute node.",
        "operationId": "updateNode",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          },
          {
            "$ref": "#/parameters/NodeUpdateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a compute node.",
            "schema": {
              "$ref": "#/definitions/Node"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/nodes/{node-id}/certificate": {
      "get": {
        "tags": [
          "Node"
        ],
        "summary": "Get an attested compute node's certificate.",
        "description": "Get certificate for the compute node, only if the compute node is attested.",
        "operationId": "getNodeCertificate",
        "x-auth-resource": "Reader,Writer,Manager,JoinTokenAuth,AgentAuth",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Compute node certificate.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/nodes/{node-id}/certificate-details": {
      "get": {
        "tags": [
          "Node"
        ],
        "summary": "Get a compute node's certificate.",
        "description": "Get certificate for the compute node.",
        "x-auth-resource": "Reader,Writer,Manager",
        "operationId": "getNodeCertificateDetails",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate details.",
            "schema": {
              "$ref": "#/definitions/CertificateDetails"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/nodes/{node-id}/deactivate": {
      "post": {
        "tags": [
          "Node"
        ],
        "summary": "Deactivate a particular compute node.",
        "description": "Deactivate a particular compute node.",
        "operationId": "deactivateNode",
        "x-auth-resource": "Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/certificates/{cert-id}": {
      "get": {
        "tags": [
          "Certificate"
        ],
        "summary": "Retrieve a certificate.",
        "description": "Retrieve a certificate.",
        "operationId": "getCertificate",
        "x-auth-resource": "Reader,Writer,Manager,AgentAuth,JoinTokenAuth",
        "parameters": [
          {
            "$ref": "#/parameters/CertificateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Get all apps information.",
        "description": "Get app's information with status.",
        "operationId": "getAllApps",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "App name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Compute node description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on name or description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of apps to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of apps to skip from start.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to use for items, currently supports list of groups",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for App objects.",
            "schema": {
              "$ref": "#/definitions/GetAllAppsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "App"
        ],
        "summary": "Add an application.",
        "description": "Add an application.",
        "operationId": "addApplication",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/AppRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an app.",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/apps/{app-id}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Get details of a particular app.",
        "description": "Details of a particular app.",
        "operationId": "getApp",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/AppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an app.",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "App"
        ],
        "summary": "Update details of a particular app.",
        "description": "Update a particular app.",
        "operationId": "updateApp",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/AppId"
          },
          {
            "$ref": "#/parameters/AppBodyUpdateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an app.",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "App"
        ],
        "summary": "Delete a particular app",
        "description": "Delete a particular app.",
        "operationId": "deleteApp",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/AppId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/apps/{app-id}/node/{node-id}/certificate-details": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Get an app's certificate for a compute node.",
        "description": "Get certificate for the app of a compute node.",
        "x-auth-resource": "Reader,Writer,Manager",
        "operationId": "getAppNodeCertificateDetails",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          },
          {
            "$ref": "#/parameters/AppId"
          }
        ],
        "responses": {
          "200": {
            "description": "App certificate details.",
            "schema": {
              "$ref": "#/definitions/CertificateDetails"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/apps/{app-id}/node/{node-id}/certificate": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Get an attested app's certificate.",
        "description": "Get certificate for the app, only if the compute node and app has been attested.",
        "operationId": "getAppCertificate",
        "x-auth-resource": "Reader,Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/NodeId"
          },
          {
            "$ref": "#/parameters/AppId"
          }
        ],
        "responses": {
          "200": {
            "description": "App certificate.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/apps/unique_labels/count": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Get all the unique labels across all the applications within selected account",
        "description": "Get all the unique labels (with count) across all the applications within selected account.",
        "operationId": "getAppsUniqueLabels",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Applications Labels.",
            "schema": {
              "$ref": "#/definitions/LabelsCount"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Get all the tasks.",
        "description": "Get all the tasks in the system.",
        "operationId": "getAllTasks",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "task_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Task type.",
            "enum": [
              "NODE_ATTESTATION",
              "CERTIFICATE_ISSUANCE",
              "BUILD_WHITELIST",
              "DOMAIN_WHITELIST"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "Task status.",
            "required": false,
            "type": "string",
            "enum": [
              "PENDING",
              "CLOSED"
            ]
          },
          {
            "name": "requester",
            "in": "query",
            "description": "UserName of requester.",
            "required": false,
            "type": "string"
          },
          {
            "name": "approver",
            "in": "query",
            "description": "UserName of approver.",
            "required": false,
            "type": "string"
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on Requester or Request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of tasks to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of tasks to skip from start.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "base_filters",
            "in": "query",
            "description": "Filters to be applied on base query (count and results) key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for Task objects.",
            "schema": {
              "$ref": "#/definitions/GetAllTasksResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/tasks/{task-id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Get details of a particular task.",
        "description": "Get the details of a task.",
        "operationId": "getTask",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/TaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Details.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Task"
        ],
        "summary": "Update status of approver and task.",
        "description": "Update status of approver and task.",
        "operationId": "UpdateTask",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/TaskId"
          },
          {
            "$ref": "#/parameters/TaskUpdateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Task status.",
            "schema": {
              "$ref": "#/definitions/TaskResult"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Task"
        ],
        "summary": "Delete a particular task.",
        "description": "Delete a particular task if not in pending state.",
        "operationId": "deleteTask",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/TaskId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/tasks/status/{task-id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Get status and result of a particular task.",
        "description": "Get status of a task. If the task is completed, it also returns the result values, if any.",
        "operationId": "getTaskStatus",
        "x-auth-resource": "Reader,Writer,Manager,AgentAuth,JoinTokenAuth",
        "parameters": [
          {
            "$ref": "#/parameters/TaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Details.",
            "schema": {
              "$ref": "#/definitions/TaskResult"
            }
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get details of the current logged in user.",
        "description": "Get details of the current logged in user.",
        "operationId": "getLoggedInUser",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "User Details.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get all user's information.",
        "description": "Get user's information with status.",
        "operationId": "getAllUsers",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on name or email.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of users to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of users to skip from start.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for user's objects.",
            "schema": {
              "$ref": "#/definitions/GetAllUsersResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user.",
        "description": "Sign up a new user.",
        "operationId": "createUser",
        "x-auth-resource": "NoAuth",
        "parameters": [
          {
            "$ref": "#/parameters/SignupRequest"
          }
        ],
        "responses": {
          "201": {
            "description": "Created user details.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/v1/users/invite": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Invite a user.",
        "description": "Invite an existing user or a new user to join an existing account.",
        "operationId": "inviteUser",
        "x-auth-resource": "Manager,ManagerInLockedAccount",
        "parameters": [
          {
            "$ref": "#/parameters/InviteUserRequest"
          }
        ],
        "responses": {
          "201": {
            "description": "Invited User details.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/users/{user-id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get details of a particular user.",
        "description": "Get details of a user.",
        "operationId": "getUser",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User Details.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update status, name, and the role of a user. User with MANAGER access role can only update another user.",
        "description": "Update status, name, and the role of a user. User with MANAGER access role can only update another users.",
        "operationId": "UpdateUser",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager,ManagerInLockedAccount,WriterInLockedAccount",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "$ref": "#/parameters/UpdateUserRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated User status, name, and role.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Completely delete a user profile from system",
        "description": "Completely deletes the currently logged in user from the system.",
        "operationId": "deleteUserAccount",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager,ManagerInLockedAccount,WriterInLockedAccount",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/users/{user-id}/accounts": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user accounts",
        "description": "Get information about the accounts of which the user is a member",
        "operationId": "getUserAccounts",
        "x-auth-resource": "UserAuth",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the accounts of the user",
            "schema": {
              "$ref": "#/definitions/GetUserAccountsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove user's association with an account.",
        "operationId": "deleteUserFromAccount",
        "x-auth-resource": "Reader,Writer,Manager,ManagerInLockedAccount,WriterInLockedAccount",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/sys/auth": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User authentication",
        "description": "User authentication.",
        "operationId": "authenticateUser",
        "x-auth-resource": "NoAuth",
        "parameters": [
          {
            "$ref": "#/parameters/AuthRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          }
        }
      }
    },
    "/v1/sys/auth/discover": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Discover the supported authentication methods for a user.",
        "description": "Discover the supported authentication methods for a user.",
        "operationId": "discover",
        "x-auth-resource": "NoAuth",
        "parameters": [
          {
            "name": "acct_id",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "auth_discover_request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthDiscoverRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuthDiscoverResponse"
            }
          }
        }
      }
    },
    "/v1/sys/session/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refreshes existing user session.",
        "description": "Refreshes an existing session, thus extending the expiration time of the existing session token.",
        "operationId": "refresh",
        "x-auth-resource": "NoAuth",
        "responses": {
          "200": {
            "description": "Refreshed Session Info.",
            "schema": {
              "$ref": "#/definitions/RefreshResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/sys/session/terminate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Terminate a session",
        "description": "Terminate an authenticated session. After this call, session cannot be refreshed.",
        "operationId": "terminate",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager,ManagerInLockedAccount,WriterInLockedAccount",
        "responses": {
          "204": {
            "description": "Nothing is returned on success"
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/sys/session/select_account/{account-id}": {
      "post": {
        "summary": "Select a user's account to work on.",
        "description": "\"Select one of the user's account to proceed. This is applicable when a user is associated with one or more account.\"\n",
        "tags": [
          "Auth"
        ],
        "operationId": "selectAccountBodrum",
        "x-auth-resource": "UserAuth,Reader,Writer,Manager,ManagerInLockedAccount,WriterInLockedAccount",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Session Info.",
            "schema": {
              "$ref": "#/definitions/SelectAccountResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/sys/version": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get Manager Version.",
        "description": "Get Manager Version.",
        "operationId": "getManagerVersion",
        "x-auth-resource": "NoAuth",
        "responses": {
          "200": {
            "description": "Manager Version.",
            "schema": {
              "$ref": "#/definitions/VersionResponse"
            }
          }
        }
      }
    },
    "/v1/system/config": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Modify cluster configuration by SysAdmin",
        "description": "Modify cluster-wide configuration by SysAdmin.",
        "operationId": "sysadminUpdateClusterConfig",
        "x-auth-resource": "Manager,ManagerInLockedAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Cluster was configured by SysAdmin successfully.",
            "schema": {
              "$ref": "#/definitions/SysAdminGetClusterConfigurationResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get cluster configuration by SysAdmin",
        "description": "Get cluster-wide configuration by SysAdmin.",
        "operationId": "sysadminGetClusterConfigure",
        "x-auth-resource": "Reader,Manager,ManagerInLockedAccount",
        "parameters": [
          {
            "$ref": "#/parameters/GetClusterConfigParams"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster configuration.",
            "schema": {
              "$ref": "#/definitions/SysAdminGetClusterConfigurationResponse"
            }
          }
        }
      }
    },
    "/v1/tools/converter/convert-app/nitro-enclaves": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Convert an application to run in Nitro Enclaves.",
        "description": "",
        "operationId": "convertAppNitroEnclaves",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConverterSvcNitroEnclavesConversionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registry and image name for the output container (same as outputImageName in the request)",
            "schema": {
              "$ref": "#/definitions/ConverterSvcNitroEnclavesConversionResponse"
            }
          }
        }
      }
    },
    "/v1/tools/converter/convert-app/aci": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Convert an application to run in ACI.",
        "description": "",
        "operationId": "convertAppAci",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConverterSvcAciConversionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated templates",
            "schema": {
              "$ref": "#/definitions/ConverterSvcAciConversionResponse"
            }
          }
        }
      }
    },
    "/v1/registry": {
      "post": {
        "tags": [
          "Registry"
        ],
        "summary": "Add a new registry to an account",
        "description": "Add a new registry to an account.",
        "operationId": "createRegistry",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/RegistryRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Registry information.",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "Registry"
        ],
        "summary": "Get details of all registry in the account",
        "description": "Get details of all registry in the account.",
        "operationId": "getAllRegistries",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Get details of all registry in the account.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Registry"
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/registry/{registry-id}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "summary": "Get details of a particular registry",
        "description": "Details of a particular registry.",
        "operationId": "getRegistry",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/RegistryId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a registry.",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Registry"
        ],
        "summary": "Update a particular registry details",
        "description": "Update a particular registry details. Description and credential are the only editable field of a registry.",
        "operationId": "updateRegistry",
        "parameters": [
          {
            "$ref": "#/parameters/RegistryId"
          },
          {
            "$ref": "#/parameters/UpdateRegistryRequest"
          }
        ],
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "responses": {
          "200": {
            "description": "Registry information.",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "summary": "Delete registry",
        "description": "Delete registry.",
        "operationId": "deleteRegistry",
        "parameters": [
          {
            "$ref": "#/parameters/RegistryId"
          }
        ],
        "x-auth-resource": "Writer,Manager",
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/registry/app/{app-id}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "summary": "Get details of the registry that will be used for the particular app images",
        "description": "Get details of the registry that will be used for the particular app images.",
        "operationId": "getRegistryForApp",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/AppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Registry details that will be used from saved registry credentials for the particular app images.",
            "schema": {
              "$ref": "#/definitions/AppRegistryResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/image/registry": {
      "get": {
        "tags": [
          "Registry"
        ],
        "summary": "Get details of the registry that will be used for the particular image",
        "description": "Get details of the registry that will be used for the particular image.",
        "operationId": "getRegistryForImage",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "image_name",
            "in": "query",
            "description": "Docker image name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Registry detail that will be used from saved registry credentials for the particular image.",
            "schema": {
              "$ref": "#/definitions/ImageRegistryResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/app_configs": {
      "get": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Get all app configs",
        "description": "Get detailed information of all app configs that the current user has access to.",
        "operationId": "getAllApplicationConfigs",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "App config name",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "App config description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "image_id",
            "in": "query",
            "description": "Search configurations for given image id",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to use for items, currently supports labels, syntax: {\"labels\":{\"key1\":\"value1\",\"key2\":\"value2\"}}",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of app configs to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of app configs to skip from start.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for app config objects.",
            "schema": {
              "$ref": "#/definitions/GetAllApplicationConfigsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Add an app config.",
        "description": "Add an app config.",
        "operationId": "createApplicationConfig",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/CreateApplicationConfigRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an app config",
            "schema": {
              "$ref": "#/definitions/ApplicationConfigResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/runtime/app_configs": {
      "get": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Get app config",
        "description": "Get current app config via certificate authentication",
        "operationId": "getRuntimeApplicationConfig",
        "x-auth-resource": "AppAuth",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RuntimeAppConfig"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/runtime/app_configs/{config-id}": {
      "get": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Get details of a particular runtime app config.",
        "description": "Get details of a particular runtime app config.",
        "operationId": "getSpecificRuntimeApplicationConfig",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationConfigId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RuntimeAppConfig"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/app_configs/{config-id}": {
      "get": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Get details of a particular app config.",
        "description": "Get details of a particular app config.",
        "operationId": "getApplicationConfig",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationConfigId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an app config",
            "schema": {
              "$ref": "#/definitions/ApplicationConfigResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Delete a particular app config",
        "description": "Delete a particular app config",
        "operationId": "deleteApplicationConfig",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationConfigId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ApplicationConfig"
        ],
        "summary": "Update details of a particular app config.",
        "description": "Update details of a particular app config.",
        "operationId": "updateApplicationConfig",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationConfigId"
          },
          {
            "$ref": "#/parameters/UpdateApplicationConfigRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an app config",
            "schema": {
              "$ref": "#/definitions/ApplicationConfigResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/approval_requests": {
      "get": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Get all approval requests",
        "description": "Get detailed information of all approval requests that the current user has access to.",
        "operationId": "getAllApprovalRequests",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "requester",
            "in": "query",
            "description": "Only retrieve approval requests with the specified requester ID",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "reviewer",
            "in": "query",
            "description": "Only retrieve approval requests with the specified reviewer ID",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "subject",
            "in": "query",
            "description": "Only retrieve approval requests with the specified subject ID",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Only retrieve approval requests with the specified approval status",
            "required": false,
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "DENIED",
              "FAILED"
            ]
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on name or description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of app configs to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of app configs to skip from start.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter items based on groups or labels.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result for approval request objects.",
            "schema": {
              "$ref": "#/definitions/GetAllApprovalRequests"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Create approval request.",
        "description": "Create approval request",
        "operationId": "createApprovalRequest",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ApprovalRequestRequest"
          }
        ],
        "responses": {
          "201": {
            "description": "A newly created approval request.",
            "schema": {
              "$ref": "#/definitions/ApprovalRequest"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/approval_requests/{request-id}": {
      "get": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Get an approval request.",
        "description": "Get the details and status of a particular approval request.",
        "operationId": "getApprovalRequest",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the specified approval request.",
            "schema": {
              "$ref": "#/definitions/ApprovalRequest"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Delete an approval request.",
        "parameters": [
          {
            "$ref": "#/parameters/RequestId"
          }
        ],
        "operationId": "deleteApprovalRequest",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/approval_requests/{request-id}/approve": {
      "post": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Approve a request.",
        "parameters": [
          {
            "$ref": "#/parameters/RequestId"
          },
          {
            "$ref": "#/parameters/ApproveRequest"
          }
        ],
        "operationId": "approveApprovalRequest",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Details about the specified approval request.",
            "schema": {
              "$ref": "#/definitions/ApprovalRequest"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/approval_requests/{request-id}/deny": {
      "post": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Deny a request.",
        "parameters": [
          {
            "$ref": "#/parameters/RequestId"
          },
          {
            "$ref": "#/parameters/DenyRequest"
          }
        ],
        "operationId": "denyApprovalRequest",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Details about the specified approval request.",
            "schema": {
              "$ref": "#/definitions/ApprovalRequest"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/approval_requests/{request-id}/result": {
      "post": {
        "tags": [
          "ApprovalRequests"
        ],
        "summary": "Get the result for an approved or failed request.",
        "parameters": [
          {
            "$ref": "#/parameters/RequestId"
          }
        ],
        "operationId": "getApprovalRequestResult",
        "x-auth-resource": "Reader,Writer,Manager",
        "responses": {
          "200": {
            "description": "Details about the specified approval request result.",
            "schema": {
              "$ref": "#/definitions/ApprovableResult"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/clusters": {
      "post": {
        "tags": [
          "ComputeClusters"
        ],
        "summary": "Add a new compute cluster to an account",
        "description": "Add a new compute cluster to an account",
        "operationId": "createComputeCluster",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/ComputeClusterRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster information",
            "schema": {
              "$ref": "#/definitions/ComputeClusterResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "ComputeClusters"
        ],
        "summary": "Get details of all compute clusters in the account",
        "description": "Get details of all compute clusters in the account",
        "operationId": "getAllComputeClusters",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Cluster name",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Cluster description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of clusters to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of clusters to skip from start.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get details of all clusters in the account",
            "schema": {
              "$ref": "#/definitions/GetAllComputeClustersResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/clusters/{cluster-id}": {
      "get": {
        "tags": [
          "ComputeClusters"
        ],
        "summary": "Get details of a particular compute cluster",
        "description": "Get details of a particular compute cluster",
        "operationId": "getComputeClusters",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/ComputeClusterId"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a cluster",
            "schema": {
              "$ref": "#/definitions/ComputeClusterResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ComputeClusters"
        ],
        "summary": "Update a particular compute cluster details",
        "description": "Update a particular compute cluster details.",
        "operationId": "updateComputeCluster",
        "parameters": [
          {
            "$ref": "#/parameters/ComputeClusterId"
          },
          {
            "$ref": "#/parameters/ComputeClusterRequest"
          }
        ],
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "responses": {
          "200": {
            "description": "Cluster information",
            "schema": {
              "$ref": "#/definitions/ComputeClusterResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ComputeClusters"
        ],
        "summary": "Delete compute cluster",
        "description": "Delete compute cluster",
        "operationId": "deleteComputeCluster",
        "parameters": [
          {
            "$ref": "#/parameters/ComputeClusterId"
          }
        ],
        "x-auth-resource": "Writer,Manager",
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/datasets": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Get all datasets",
        "description": "Get detailed information of all datasets that the current user has access to.",
        "operationId": "getAllDatasets",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Dataset name",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Dataset description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to use for items, currently supports labels, syntax: {\"labels\":{\"key1\":\"value1\",\"key2\":\"value2\"}}",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of datasets to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of datasets to skip from start.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllDatasetsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Dataset"
        ],
        "summary": "Create a new dataset object.",
        "operationId": "createDataset",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/CreateDatasetRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/datasets/{dataset-id}": {
      "get": {
        "summary": "Retrieve information about a particular dataset.",
        "description": "Retrieve information about a particular dataset. Note that credentials are treated as secrets and are excluded from the response here.",
        "tags": [
          "Dataset"
        ],
        "operationId": "getDataset",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/DatasetId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a particular dataset.",
        "description": "Deleting a particular dataset also deletes any affiliated stored secrets.",
        "tags": [
          "Dataset"
        ],
        "operationId": "deleteDataset",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/DatasetId"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "summary": "Modify a particular dataset.",
        "tags": [
          "Dataset"
        ],
        "operationId": "updateDataset",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/DatasetId"
          },
          {
            "$ref": "#/parameters/DatasetUpdateRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflow_runs": {
      "get": {
        "tags": [
          "WorkflowRuns"
        ],
        "summary": "Get all registered running workflows",
        "description": "Does not query the orchestrator backend but rather a database table of registered running workflows",
        "operationId": "getAllWorkflowRuns",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A FilterQuery expression that specifies a filter to apply",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum amount of entries to provide (default is 1000)",
            "type": "integer",
            "required": false
          },
          {
            "name": "previous_id",
            "in": "query",
            "description": "Start after this Run ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "previous_sort_value",
            "in": "query",
            "type": "string",
            "description": "If a sort_by is specified that is not the ID (e.g. sort_by=name:ASC), then the value corresponding to that field of the previous_id entry must be given. This field is used for (1) efficient index lookup, and (2) to keep track of the current position in the collection, even if the previous_id entry is updated or deleted in the mean time."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetAllWorkflowRunsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "WorkflowRuns"
        ],
        "summary": "Start the given workflow",
        "description": "",
        "operationId": "startWorkflowRun",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartWorkflowRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunStatusResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflow_runs/{run-id}": {
      "patch": {
        "tags": [
          "WorkflowRuns"
        ],
        "summary": "Update the properties of a workflow run",
        "description": "",
        "operationId": "updateWorkflowRun",
        "x-auth-resource": "JobWorkerAuth",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowRunId"
          },
          {
            "$ref": "#/parameters/UpdateWorkflowRunRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflow_runs/{run-id}/status": {
      "get": {
        "tags": [
          "WorkflowRuns"
        ],
        "summary": "Get the status of the given running workflow",
        "description": "",
        "operationId": "getWorkflowRunStatus",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowRunId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunStatusResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflow_runs/{run-id}/logs": {
      "get": {
        "tags": [
          "WorkflowRuns"
        ],
        "summary": "Retrieve logs from an app in the given workflow",
        "description": "",
        "operationId": "getWorkflowRunLogs",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowRunId"
          },
          {
            "$ref": "#/parameters/RuntimeConfigId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunLogsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflow_runs/{run-id}/stop": {
      "post": {
        "tags": [
          "WorkflowRuns"
        ],
        "summary": "Stop execution for the given workflow.",
        "description": "",
        "operationId": "stopWorkflowRun",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowRunId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunStatusResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflows/final/graphs": {
      "get": {
        "summary": "Search all the final workflow graphs.",
        "tags": [
          "WorkflowFinal"
        ],
        "operationId": "getAllFinalWorkflowGraphs",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Final workflow name",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Final workflow description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The workflow project.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to use for contained workflow versions, currently supports labels, syntax: {\"labels\":{\"key1\":\"value1\",\"key2\":\"value2\"}}",
            "required": false,
            "type": "string"
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on name or description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of workflows to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of workflows to skip from start.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllFinalWorkflowGraphsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "summary": "Create a finalized workflow graph request via approval.",
        "tags": [
          "WorkflowFinal"
        ],
        "operationId": "createFinalWorkflowGraph",
        "x-auth-resource": "ApprovalAuth",
        "parameters": [
          {
            "$ref": "#/parameters/CreateFinalWorkflowGraphRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FinalWorkflow"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflows/final/graphs/{graph-id}": {
      "post": {
        "tags": [
          "WorkflowFinal"
        ],
        "summary": "Create a new version for a particular final workflow",
        "description": "Create a new version for a particular final workflow",
        "operationId": "updateFinalWorkflowGraph",
        "x-auth-resource": "ApprovalAuth",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "$ref": "#/parameters/CreateWorkflowVersionRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "The data for the created version within the workflow.",
            "schema": {
              "$ref": "#/definitions/VersionInFinalWorkflow"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "get": {
        "tags": [
          "WorkflowFinal"
        ],
        "summary": "Get details of a particular final workflow",
        "description": "Get details of a particular final workflow",
        "operationId": "getFullFinalWorkflowGraph",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "name": "acct_id",
            "in": "query",
            "description": "Account which owns the final workflow",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow with all contained graph versions.",
            "schema": {
              "$ref": "#/definitions/FinalWorkflow"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "WorkflowFinal"
        ],
        "summary": "Change name/description of a particular final workflow",
        "description": "Change name/description of a particular final workflow",
        "operationId": "updateFinalWorkflowGraphName",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "$ref": "#/parameters/UpdateFinalWorkflowName"
          }
        ],
        "responses": {
          "200": {
            "description": "The renamed workflow with all contained graph versions.",
            "schema": {
              "$ref": "#/definitions/FinalWorkflow"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflows/final/graphs/{graph-id}/{version}": {
      "get": {
        "tags": [
          "WorkflowFinal"
        ],
        "summary": "Get details of a particular final workflow version",
        "description": "Get details of a particular final workflow version",
        "operationId": "getFinalWorkflowGraph",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "$ref": "#/parameters/WorkflowGraphVersion"
          },
          {
            "name": "acct_id",
            "in": "query",
            "description": "Account which owns the final workflow",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VersionInFinalWorkflow"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "WorkflowFinal"
        ],
        "summary": "Delete a particular final workflow",
        "description": "Delete a particular final workflow",
        "operationId": "deleteFinalWorkflowGraph",
        "x-auth-resource": "ApprovalAuth",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "$ref": "#/parameters/WorkflowGraphVersion"
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing is returned on success."
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "patch": {
        "summary": "Update the final workflow graph's runtime (reference to ComputeCluster).",
        "tags": [
          "WorkflowFinal"
        ],
        "operationId": "updateFinalWorkflowGraphRuntime",
        "x-auth-resource": "Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "$ref": "#/parameters/WorkflowGraphVersion"
          },
          {
            "$ref": "#/parameters/UpdateWorkflowVersionRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VersionInFinalWorkflow"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflows/draft/graphs": {
      "get": {
        "summary": "Search all workflow draft graphs",
        "tags": [
          "Workflow"
        ],
        "operationId": "getAllWorkflowGraphs",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Draft workflow name",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Draft workflow description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "all_search",
            "in": "query",
            "description": "Search on name or description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parent_graph_id",
            "in": "query",
            "description": "The final workflow from which this draft was derived.",
            "required": false,
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The workflow project.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to use for items, currently supports labels, syntax: {\"labels\":{\"key1\":\"value1\",\"key2\":\"value2\"}}",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum numbers of images to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of images to skip from start.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllWorkflowGraphsResponse"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "post": {
        "summary": "Create a new workflow graph as a draft",
        "tags": [
          "Workflow"
        ],
        "operationId": "createWorkflowGraph",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/CreateWorkflowGraphRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkflowGraph"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/v1/workflows/draft/graphs/{graph-id}": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Get details of a particular draft workflow",
        "description": "Get details of a particular draft workflow",
        "operationId": "getWorkflowGraph",
        "x-auth-resource": "Reader,Writer,Manager",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "name": "acct_id",
            "in": "query",
            "description": "Account in which workflow belong",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkflowGraph"
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "put": {
        "summary": "Update a particular workflow graph.",
        "tags": [
          "Workflow"
        ],
        "operationId": "updateWorkflowGraph",
        "x-auth-resource": "Writer,Manager,ActiveAccount",
        "parameters": [
          {
            "$ref": "#/parameters/WorkflowGraphId"
          },
          {
            "$ref": "#/parameters/UpdateWorkflowGraphRequest"
          },
          {
            "name": "acct_id",
            "in": "query",
            "description": "Account in which workflow belong",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
[...]
