openapi: 3.2.0
info:
  description: '**API of the Fortanix Unified Data and AI Security Platform**


    The API client *must* follow HTTP redirects, including 308 redirects. Many HTTP libraries (such as Python Requests, JavaScript fetch) do this by default. With cURL, you must pass `--location`.

    '
  title: Armor Discovery Scan Inventory API
  version: 0.1.0
servers:
- url: https://api.armor.fortanix.com
tags:
- description: APIs regarding obtaining the details about the inventory objects associated to a scan.
  name: DiscoveryScanInventory
paths:
  /api/v1/discovery/scans/{id}/scan_inventory_objects:
    get:
      description: List Scan Inventory objects.
      operationId: GetScanInventoryObjects
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/DiscoveryScanInventoryObjectsParams'
      responses:
        2XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryScanInventoryObjects'
          description: Success result
      security:
      - Oauth2ClientCredentials: []
      summary: List Scan Inventory objects.
      tags:
      - DiscoveryScanInventory
  /api/v1/discovery/scans/{scan_id}/scan_inventory_objects/{scan_inventory_object_id}:
    get:
      description: Get a scan inventory object
      operationId: GetScanInventoryObject
      parameters:
      - in: path
        name: scan_id
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: scan_inventory_object_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryScanInventoryObject'
          description: Success result
      security:
      - Oauth2ClientCredentials: []
      summary: Get a scan inventory object
      tags:
      - DiscoveryScanInventory
components:
  schemas:
    DiscoveryAwsRegion:
      description: 'Reference: https://docs.aws.amazon.com/general/latest/gr/rande.html'
      enum:
      - us-east-2
      - us-east-1
      - us-west-1
      - us-west-2
      - af-south-1
      - ap-east-1
      - ap-south-2
      - ap-southeast-3
      - ap-southeast-4
      - ap-south-1
      - ap-northeast-3
      - ap-northeast-2
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - ca-central-1
      - ca-west-1
      - eu-central-1
      - eu-west-1
      - eu-west-2
      - eu-south-1
      - eu-west-3
      - eu-south-2
      - eu-north-1
      - eu-central-2
      - il-central-1
      - me-south-1
      - me-central-1
      - sa-east-1
      - us-gov-east-1
      - us-gov-west-1
      type: string
    DiscoveryAwsKmsKeyState:
      enum:
      - creating
      - enabled
      - disabled
      - pending_deletion
      - pending_import
      - pending_replica_deletion
      - unavailable
      - updating
      - other
      type: string
    DiscoveryAwsServerSideEncryptionRule:
      allOf:
      - properties:
          bucket_key_enabled:
            type: boolean
          default_sse:
            $ref: '#/components/schemas/DiscoveryAwsDefaultServerSideEncryption'
        required:
        - bucket_key_enabled
        type: object
    DiscoveryAzureContainerGroupEncryptionSourceVariantCustomerManagedKey:
      allOf:
      - properties:
          $type:
            enum:
            - customer_managed_key
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureContainerGroupEncryptionSourceCustomerManagedKey'
    DiscoveryOnPremOracleDatabase:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryOnPremOracleDatabaseAnalysis'
          database_name:
            type: string
          encryption_details:
            $ref: '#/components/schemas/DiscoveryOnPremOracleDatabaseEncryption'
        required:
        - database_name
        - analysis
        type: object
    DiscoveryAwsEfsFileSystem:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAwsEfsFileSystemAnalysis'
          file_system_id:
            type: string
          kms_key_id:
            type:
            - string
            - 'null'
          life_cycle_state:
            $ref: '#/components/schemas/DiscoveryAwsEfsLifeCycleState'
          size:
            format: int64
            type:
            - integer
            - 'null'
        required:
        - file_system_id
        - life_cycle_state
        - analysis
        type: object
    DiscoveryAwsEksClusterStatus:
      enum:
      - active
      - creating
      - deleting
      - failed
      - pending
      - updating
      - unknown
      type: string
    DiscoveryAzureKeyAvailabilityVariantSoftDeleted:
      allOf:
      - properties:
          $type:
            enum:
            - soft_deleted
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureKeyAvailabilitySoftDeleted'
    DiscoveryPermissions:
      allOf:
      - properties:
          everyone:
            description: “Other” users on POSIX; on Windows, “Everyone” ACL entry
            items:
              $ref: '#/components/schemas/DiscoveryPermissionFlag'
            type: array
          group:
            $ref: '#/components/schemas/DiscoveryOwnerAndFlags'
          user:
            $ref: '#/components/schemas/DiscoveryOwnerAndFlags'
        required:
        - user
        - everyone
        type: object
    DiscoveryAwsObjectDetailsVariantEfs:
      allOf:
      - properties:
          $type:
            enum:
            - efs
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsEfsFileSystem'
    DiscoveryPgpMessageMetadata:
      enum:
      - Literal
      - Compressed
      - Signed
      - SignedOnePass
      - Encrypted
      type: string
    DiscoveryAzureCryptoPolicyCompliance:
      allOf:
      - properties:
          is_compliant:
            description: Represents if the crypto policy is compliant for the key.
            type: boolean
          violation_reason:
            description: 'Represents the violation reason if the non-compliant against the

              crypto policy, otherwise `None`.'
            type:
            - string
            - 'null'
        required:
        - is_compliant
        type: object
    DiscoveryDsmRegion:
      enum:
      - north_america
      - european_union
      - united_kingdom
      - asia_pacific
      - australia
      - saudi_arabia
      type: string
    DiscoveryInventoryObjectExternalIdVariantDsm:
      allOf:
      - properties:
          $type:
            enum:
            - dsm
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryInventoryObjectExternalIdDsm'
    DiscoveryAcmCertificateStatus:
      enum:
      - expired
      - pending
      - issued
      - failed
      - inactive
      - revoked
      - validation_timed_out
      - unknown
      type: string
    DiscoveryPkcs7SignedDataMetadata:
      allOf:
      - properties:
          certificates:
            items:
              $ref: '#/components/schemas/DiscoveryCertificateMetadata'
            type:
            - array
            - 'null'
          crls:
            items:
              $ref: '#/components/schemas/DiscoveryCertificateRevocationList'
            type:
            - array
            - 'null'
          digest_algorithms:
            items:
              $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
            type: array
          encapsulated_content_type:
            type: string
          signer_info:
            items:
              $ref: '#/components/schemas/DiscoveryPkcs7SignerInfoMetadata'
            type: array
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        - encapsulated_content_type
        - digest_algorithms
        - signer_info
        type: object
    DiscoveryDsmSobjectRotationPolicy:
      allOf:
      - properties:
          deactivate_rotated_key:
            type:
            - boolean
            - 'null'
          effective_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          interval:
            $ref: '#/components/schemas/DiscoveryDsmSobjectRotationInterval'
          rotate_copied_keys:
            $ref: '#/components/schemas/DiscoveryDsmSobjectRotateCopiedKeys'
        type: object
    DiscoveryAzureDiskInstanceAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_exportable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryAcmCertificateExtendedKeyUsage:
      allOf:
      - properties:
          name:
            $ref: '#/components/schemas/DiscoveryAcmCertificateExtendedKeyUsageName'
          object_identifier:
            type:
            - string
            - 'null'
        required:
        - name
        type: object
    DiscoveryAzureResourceGroup:
      allOf:
      - properties:
          name:
            type: string
        required:
        - name
        type: object
    DiscoveryAwsEksCluster:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAwsEksClusterAnalysis'
          encryption_status:
            $ref: '#/components/schemas/DiscoveryAwsEksEncryptionStatus'
          kms_key_id:
            type:
            - string
            - 'null'
          name:
            type: string
          status:
            $ref: '#/components/schemas/DiscoveryAwsEksClusterStatus'
        required:
        - name
        - encryption_status
        - status
        - analysis
        type: object
    DiscoveryPkcs7DataWithAttributesMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryAzureObjectDetailsVariantDatabase:
      allOf:
      - properties:
          $type:
            enum:
            - database
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureDatabaseDeployment'
    DiscoveryAzureDiskType:
      description: 'Used to represent SKU of [AzureManagedDisk]. For reference:

        [Documentation](https://learn.microsoft.com/en-us/rest/api/compute/disks/list-by-resource-group?view=rest-compute-2024-03-01&tabs=HTTP#diskstate)'
      enum:
      - premium_v2_lrs
      - premium_lrs
      - premium_zrs
      - standard_ssd_lrs
      - standard_ssd_zrs
      - standard_lrs
      - ultra_ssd_lrs
      type: string
    DiscoveryAzureObjectDetailsVariantManagedDisk:
      allOf:
      - properties:
          $type:
            enum:
            - managed_disk
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureManagedDisk'
    DiscoveryAzureManagedClusterDiskEncryptionDetailsVariantEncryptionAtRestWithPlatformKey:
      allOf:
      - properties:
          $type:
            enum:
            - encryption_at_rest_with_platform_key
            type: string
        required:
        - $type
        type: object
      - properties: {}
        type: object
    DiscoveryOnPremKeyRotationStatus:
      discriminator:
        mapping:
          not_rotated: DiscoveryOnPremKeyRotationStatusVariantNotRotated
          rotated: DiscoveryOnPremKeyRotationStatusVariantRotated
          unknown: DiscoveryOnPremKeyRotationStatusVariantUnknown
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryOnPremKeyRotationStatusVariantUnknown'
      - $ref: '#/components/schemas/DiscoveryOnPremKeyRotationStatusVariantRotated'
      - $ref: '#/components/schemas/DiscoveryOnPremKeyRotationStatusVariantNotRotated'
    DiscoveryPkcs7DataMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryCertificateSigningRequest:
      allOf:
      - properties:
          pubkey_algorithm:
            $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
          signature_algorithm:
            $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
          subject_cn:
            additionalProperties:
              type: string
            type:
            - object
            - 'null'
        required:
        - signature_algorithm
        - pubkey_algorithm
        type: object
    DiscoveryOnPremFsCertificateAnalysis:
      allOf:
      - properties:
          certificate_issuer:
            $ref: '#/components/schemas/DiscoveryCertificateIssuer'
          certificate_status:
            $ref: '#/components/schemas/DiscoveryOnPremFsCertificateStatus'
          certificate_subject:
            $ref: '#/components/schemas/DiscoveryCertificateSubject'
        required:
        - certificate_status
        - certificate_issuer
        - certificate_subject
        type: object
    DiscoveryDsmHmgConfigType:
      enum:
      - ncipher
      - safenet
      - aws_cloud_hsm
      - aws_kms
      - fortanix
      - fortanix_fips_cluster
      - azure_key_vault
      - gcp_key_ring
      - other
      type: string
    DiscoveryAwsRedshiftEncryptionStatus:
      enum:
      - encrypted
      - unencrypted
      type: string
    DiscoveryAcmCertificateKeyAlgorithm:
      enum:
      - rsa2048
      - rsa3072
      - rsa4096
      - unknown
      type: string
    DiscoveryViolationMetrics:
      allOf:
      - description: A structure to store the violation metrics for each violation.
        properties:
          count:
            type: integer
        required:
        - count
        type: object
    DiscoveryEllipticCurveParamsMetadata:
      oneOf:
      - properties:
          named_curve:
            $ref: '#/components/schemas/DiscoveryCurve'
        required:
        - named_curve
        title: DiscoveryEllipticCurveParamsMetadataVariantNamedCurve
        type: object
      - enum:
        - implicit_curve
        title: DiscoveryEllipticCurveParamsMetadataVariantImplicitCurve
        type: string
      - enum:
        - specified_curve
        title: DiscoveryEllipticCurveParamsMetadataVariantSpecifiedCurve
        type: string
    DiscoveryOnPremObjectDetailsVariantOnPremSourceCodeComponent:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem_source_code_component
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremSourceCodeComponent'
    DiscoveryOnPremObjectDetailsVariantFilesystem:
      allOf:
      - properties:
          $type:
            enum:
            - filesystem
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremFsObject'
    DiscoveryPkcs7SignerIdentifieroMetadataIssuerAndSerialNumber:
      allOf:
      - properties:
          name:
            items:
              type: string
            type: array
          serial_number:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type: array
        required:
        - name
        - serial_number
        type: object
    DiscoveryCryptographicMetadata:
      oneOf:
      - properties:
          symmetric_key:
            $ref: '#/components/schemas/DiscoverySymmetricKeyMetadata'
        required:
        - symmetric_key
        title: DiscoveryCryptographicMetadataVariantSymmetricKey
        type: object
      - properties:
          public_key:
            $ref: '#/components/schemas/DiscoveryPublicKeyMetadata'
        required:
        - public_key
        title: DiscoveryCryptographicMetadataVariantPublicKey
        type: object
      - properties:
          private_key:
            $ref: '#/components/schemas/DiscoveryPrivateKeyMetadata'
        required:
        - private_key
        title: DiscoveryCryptographicMetadataVariantPrivateKey
        type: object
      - properties:
          certificate:
            $ref: '#/components/schemas/DiscoveryCertificateMetadata'
        required:
        - certificate
        title: DiscoveryCryptographicMetadataVariantCertificate
        type: object
      - properties:
          trusted_certificate:
            $ref: '#/components/schemas/DiscoveryTrustedCertificateMetadata'
        required:
        - trusted_certificate
        title: DiscoveryCryptographicMetadataVariantTrustedCertificate
        type: object
      - properties:
          certificate_signing_request:
            $ref: '#/components/schemas/DiscoveryCertificateSigningRequest'
        required:
        - certificate_signing_request
        title: DiscoveryCryptographicMetadataVariantCertificateSigningRequest
        type: object
      - properties:
          certificate_revocation_list:
            $ref: '#/components/schemas/DiscoveryCertificateRevocationList'
        required:
        - certificate_revocation_list
        title: DiscoveryCryptographicMetadataVariantCertificateRevocationList
        type: object
      - properties:
          pkcs7:
            $ref: '#/components/schemas/DiscoveryPkcs7Metadata'
        required:
        - pkcs7
        title: DiscoveryCryptographicMetadataVariantPkcs7
        type: object
      - properties:
          pkcs12:
            $ref: '#/components/schemas/DiscoveryPkcs12Metadata'
        required:
        - pkcs12
        title: DiscoveryCryptographicMetadataVariantPkcs12
        type: object
      - properties:
          parameters:
            $ref: '#/components/schemas/DiscoveryParametersMetadata'
        required:
        - parameters
        title: DiscoveryCryptographicMetadataVariantParameters
        type: object
      - properties:
          jwt:
            $ref: '#/components/schemas/DiscoveryJwtMetadata'
        required:
        - jwt
        title: DiscoveryCryptographicMetadataVariantJwt
        type: object
      - properties:
          ssh:
            $ref: '#/components/schemas/DiscoverySshMetadata'
        required:
        - ssh
        title: DiscoveryCryptographicMetadataVariantSsh
        type: object
      - properties:
          pgp:
            $ref: '#/components/schemas/DiscoveryPgpMetadata'
        required:
        - pgp
        title: DiscoveryCryptographicMetadataVariantPgp
        type: object
      - properties:
          multiple:
            description: 'This is used if a single file contains multiple crytpogrpahic materials within it. This primarily applies

              to PEM files, as multiple PEM blocks can be concatenated together without issue.'
            items:
              $ref: '#/components/schemas/DiscoveryCryptographicMetadata'
            type: array
        required:
        - multiple
        title: DiscoveryCryptographicMetadataVariantMultiple
        type: object
    DiscoveryAzureSqlSingleServerTier:
      description: The service tiers for SQL Single Server.
      enum:
      - server
      - serverless
      type: string
    DiscoveryAwsEbsVolume:
      allOf:
      - description: 'Internal model to describe an AWS EBS volume.


          This is a selection of the fields most relevant for the current dashboard and could be

          updated to include more fields in the future.'
        properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAwsEbsVolumeAnalysis'
          availability_zone:
            description: The region this volume will be available
            type: string
          kms_key_id:
            description: The arn of the key in KMS that encrypts this drive
            type:
            - string
            - 'null'
          volume_id:
            description: The ARN of the volume
            type:
            - string
            - 'null'
          volume_size:
            description: The storage limit (in GB) of the volume
            format: int32
            type:
            - integer
            - 'null'
          volume_state:
            $ref: '#/components/schemas/DiscoveryAwsEbsVolumeState'
          volume_type:
            $ref: '#/components/schemas/DiscoveryAwsEbsVolumeType'
        required:
        - availability_zone
        - analysis
        type: object
    DiscoveryDsmSobjectKeyOperations:
      description: Operations Allowed To Be Performed On A Given Key.
      enum:
      - sign
      - verify
      - encrypt
      - decrypt
      - wrapkey
      - unwrapkey
      - derivekey
      - transform
      - macgenerate
      - macverify
      - export
      - appmanageable
      - highvolume
      - agreekey
      - encapsulate
      - decapsulate
      - other
      type: string
    DiscoveryKeyUsageDetails:
      allOf:
      - properties:
          encrypt:
            $ref: '#/components/schemas/DiscoveryKeyEncryptUsageDetails'
        type: object
    DiscoveryOnPremObject:
      allOf:
      - properties:
          details:
            $ref: '#/components/schemas/DiscoveryOnPremObjectDetails'
          resource_host_details:
            $ref: '#/components/schemas/DiscoveryOnPremResourceHostDetails'
          resource_id:
            type: string
        required:
        - resource_id
        - resource_host_details
        - details
        type: object
    DiscoveryDsmSobjectRotationIntervalVariantOther:
      allOf:
      - properties:
          $type:
            enum:
            - other
            type: string
        required:
        - $type
        type: object
      - properties: {}
        type: object
    DiscoveryOnPremMsSqlDatabaseEncryptionStatus:
      enum:
      - no_encryption_key
      - unencrypted
      - encryption_in_progress
      - encrypted
      - key_change_in_progress
      - decryption_in_progress
      - protection_change_in_progress
      type: string
    DiscoveryAzureKvKeyOperation:
      enum:
      - encrypt
      - decrypt
      - sign
      - verify
      - wrap_key
      - unwrap_key
      - import
      type: string
    DiscoveryCurve:
      description: Elliptic curves for selected crypto algorithms
      oneOf:
      - enum:
        - p256
        title: DiscoveryCurveVariantP256
        type: string
      - enum:
        - p384
        title: DiscoveryCurveVariantP384
        type: string
      - enum:
        - p521
        title: DiscoveryCurveVariantP521
        type: string
      - enum:
        - k256
        title: DiscoveryCurveVariantK256
        type: string
      - enum:
        - x25519
        title: DiscoveryCurveVariantX25519
        type: string
      - enum:
        - ed25519
        title: DiscoveryCurveVariantEd25519
        type: string
      - enum:
        - x448
        title: DiscoveryCurveVariantX448
        type: string
      - enum:
        - ed448
        title: DiscoveryCurveVariantEd448
        type: string
      - enum:
        - brainpool_p256r1
        title: DiscoveryCurveVariantBrainpoolP256r1
        type: string
      - enum:
        - brainpool_p384r1
        title: DiscoveryCurveVariantBrainpoolP384r1
        type: string
      - enum:
        - brainpool_p512r1
        title: DiscoveryCurveVariantBrainpoolP512r1
        type: string
      - properties:
          other:
            description: A catch-all if you really need to accept arbitrary curve names
            type: string
        required:
        - other
        title: DiscoveryCurveVariantOther
        type: object
      - enum:
        - prime192_v1
        title: DiscoveryCurveVariantPrime192V1
        type: string
      - enum:
        - prime192_v2
        title: DiscoveryCurveVariantPrime192V2
        type: string
      - enum:
        - prime192_v3
        title: DiscoveryCurveVariantPrime192V3
        type: string
      - enum:
        - prime239_v1
        title: DiscoveryCurveVariantPrime239V1
        type: string
      - enum:
        - prime239_v2
        title: DiscoveryCurveVariantPrime239V2
        type: string
      - enum:
        - prime239_v3
        title: DiscoveryCurveVariantPrime239V3
        type: string
      - enum:
        - prime256_v1
        title: DiscoveryCurveVariantPrime256V1
        type: string
      - enum:
        - ansi_t163_k1
        title: DiscoveryCurveVariantAnsiT163K1
        type: string
      - enum:
        - ansi_t163_r1
        title: DiscoveryCurveVariantAnsiT163R1
        type: string
      - enum:
        - ansi_t239_k1
        title: DiscoveryCurveVariantAnsiT239K1
        type: string
      - enum:
        - sec_t113_r1
        title: DiscoveryCurveVariantSecT113R1
        type: string
      - enum:
        - sec_t113_r2
        title: DiscoveryCurveVariantSecT113R2
        type: string
      - enum:
        - sec_p112_r1
        title: DiscoveryCurveVariantSecP112R1
        type: string
      - enum:
        - sec_p112_r2
        title: DiscoveryCurveVariantSecP112R2
        type: string
      - enum:
        - ansi_p160_r1
        title: DiscoveryCurveVariantAnsiP160R1
        type: string
      - enum:
        - ansi_p160_k1
        title: DiscoveryCurveVariantAnsiP160K1
        type: string
      - enum:
        - ansi_p256_k1
        title: DiscoveryCurveVariantAnsiP256K1
        type: string
      - enum:
        - ansi_t163_r2
        title: DiscoveryCurveVariantAnsiT163R2
        type: string
      - enum:
        - ansi_t283_k1
        title: DiscoveryCurveVariantAnsiT283K1
        type: string
      - enum:
        - ansi_t283_r1
        title: DiscoveryCurveVariantAnsiT283R1
        type: string
      - enum:
        - sec_t131_r1
        title: DiscoveryCurveVariantSecT131R1
        type: string
      - enum:
        - sec_t131_r2
        title: DiscoveryCurveVariantSecT131R2
        type: string
      - enum:
        - ansi_t193_r1
        title: DiscoveryCurveVariantAnsiT193R1
        type: string
      - enum:
        - ansi_t193_r2
        title: DiscoveryCurveVariantAnsiT193R2
        type: string
      - enum:
        - ansi_t233_k1
        title: DiscoveryCurveVariantAnsiT233K1
        type: string
      - enum:
        - ansi_t233_r1
        title: DiscoveryCurveVariantAnsiT233R1
        type: string
      - enum:
        - sec_p128_r1
        title: DiscoveryCurveVariantSecP128R1
        type: string
      - enum:
        - sec_p128_r2
        title: DiscoveryCurveVariantSecP128R2
        type: string
      - enum:
        - ansi_p160_r2
        title: DiscoveryCurveVariantAnsiP160R2
        type: string
      - enum:
        - ansi_p192_k1
        title: DiscoveryCurveVariantAnsiP192K1
        type: string
      - enum:
        - ansi_p224_k1
        title: DiscoveryCurveVariantAnsiP224K1
        type: string
      - enum:
        - ansi_p224_r1
        title: DiscoveryCurveVariantAnsiP224R1
        type: string
      - enum:
        - ansi_p384_r1
        title: DiscoveryCurveVariantAnsiP384R1
        type: string
      - enum:
        - ansi_p521_r1
        title: DiscoveryCurveVariantAnsiP521R1
        type: string
      - enum:
        - ansi_t409_k1
        title: DiscoveryCurveVariantAnsiT409K1
        type: string
      - enum:
        - ansi_t409_r1
        title: DiscoveryCurveVariantAnsiT409R1
        type: string
      - enum:
        - ansi_t571_k1
        title: DiscoveryCurveVariantAnsiT571K1
        type: string
      - enum:
        - ansi_t571_r1
        title: DiscoveryCurveVariantAnsiT571R1
        type: string
      - enum:
        - c2_pnb163_v1
        title: DiscoveryCurveVariantC2Pnb163V1
        type: string
      - enum:
        - c2_pnb163_v2
        title: DiscoveryCurveVariantC2Pnb163V2
        type: string
      - enum:
        - c2_pnb163_v3
        title: DiscoveryCurveVariantC2Pnb163V3
        type: string
      - enum:
        - c2_pnb176_w1
        title: DiscoveryCurveVariantC2Pnb176W1
        type: string
      - enum:
        - c2_tnb191_v1
        title: DiscoveryCurveVariantC2Tnb191V1
        type: string
      - enum:
        - c2_tnb191_v2
        title: DiscoveryCurveVariantC2Tnb191V2
        type: string
      - enum:
        - c2_tnb191_v3
        title: DiscoveryCurveVariantC2Tnb191V3
        type: string
      - enum:
        - c2_onb191_v4
        title: DiscoveryCurveVariantC2Onb191V4
        type: string
      - enum:
        - c2_onb191_v5
        title: DiscoveryCurveVariantC2Onb191V5
        type: string
      - enum:
        - c2_pnb208_w1
        title: DiscoveryCurveVariantC2Pnb208W1
        type: string
      - enum:
        - c2_tnb239_v1
        title: DiscoveryCurveVariantC2Tnb239V1
        type: string
      - enum:
        - c2_tnb239_v2
        title: DiscoveryCurveVariantC2Tnb239V2
        type: string
      - enum:
        - c2_tnb239_v3
        title: DiscoveryCurveVariantC2Tnb239V3
        type: string
      - enum:
        - c2_onb239_v4
        title: DiscoveryCurveVariantC2Onb239V4
        type: string
      - enum:
        - c2_onb239_v5
        title: DiscoveryCurveVariantC2Onb239V5
        type: string
      - enum:
        - c2_pnb272_w1
        title: DiscoveryCurveVariantC2Pnb272W1
        type: string
      - enum:
        - c2_pnb304_w1
        title: DiscoveryCurveVariantC2Pnb304W1
        type: string
      - enum:
        - c2_tnb359_v1
        title: DiscoveryCurveVariantC2Tnb359V1
        type: string
      - enum:
        - c2_pnb368_w1
        title: DiscoveryCurveVariantC2Pnb368W1
        type: string
      - enum:
        - c2_tnb431_r1
        title: DiscoveryCurveVariantC2Tnb431R1
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls1
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls1
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls3
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls3
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls4
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls4
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls5
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls5
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls6
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls6
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls7
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls7
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls8
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls8
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls9
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls9
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls10
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls10
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls11
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls11
        type: string
      - enum:
        - wap_wsg_idm_ecid_wtls12
        title: DiscoveryCurveVariantWapWsgIdmEcidWtls12
        type: string
      - enum:
        - brainpool_p160_r1
        title: DiscoveryCurveVariantBrainpoolP160R1
        type: string
      - enum:
        - brainpool_p160_t1
        title: DiscoveryCurveVariantBrainpoolP160T1
        type: string
      - enum:
        - brainpool_p192_r1
        title: DiscoveryCurveVariantBrainpoolP192R1
        type: string
      - enum:
        - brainpool_p192_t1
        title: DiscoveryCurveVariantBrainpoolP192T1
        type: string
      - enum:
        - brainpool_p224_r1
        title: DiscoveryCurveVariantBrainpoolP224R1
        type: string
      - enum:
        - brainpool_p224_t1
        title: DiscoveryCurveVariantBrainpoolP224T1
        type: string
      - enum:
        - brainpool_p256_r1
        title: DiscoveryCurveVariantBrainpoolP256R1
        type: string
      - enum:
        - brainpool_p256_t1
        title: DiscoveryCurveVariantBrainpoolP256T1
        type: string
      - enum:
        - brainpool_p320_r1
        title: DiscoveryCurveVariantBrainpoolP320R1
        type: string
      - enum:
        - brainpool_p320_t1
        title: DiscoveryCurveVariantBrainpoolP320T1
        type: string
      - enum:
        - brainpool_p384_r1
        title: DiscoveryCurveVariantBrainpoolP384R1
        type: string
      - enum:
        - brainpool_p384_t1
        title: DiscoveryCurveVariantBrainpoolP384T1
        type: string
      - enum:
        - brainpool_p512_r1
        title: DiscoveryCurveVariantBrainpoolP512R1
        type: string
      - enum:
        - brainpool_p512_t1
        title: DiscoveryCurveVariantBrainpoolP512T1
        type: string
    DiscoveryAzureManagedDiskEncryptionSettingsVariantEncryptionAtRestWithAzureManagedKey:
      allOf:
      - properties:
          $type:
            enum:
            - encryption_at_rest_with_azure_managed_key
            type: string
        required:
        - $type
        type: object
      - properties: {}
        type: object
    DiscoveryAzureDatabaseEncryptionKeySourceVariantDeploymentLevelMicrosoftManagedKey:
      allOf:
      - properties:
          $type:
            enum:
            - deployment_level_microsoft_managed_key
            type: string
        required:
        - $type
        type: object
      - properties: {}
        type: object
    DiscoveryKeyPolicyIdVariantAwsGrantId:
      allOf:
      - properties:
          $type:
            enum:
            - aws_grant_id
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryKeyPolicyIdAwsGrantId'
    DiscoveryAzureDatabaseDeploymentVariantSqlManagedInstance:
      allOf:
      - properties:
          $db_variant:
            enum:
            - sql_managed_instance
            type: string
        required:
        - $db_variant
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureDatabaseDeploymentSqlManagedInstance'
    DiscoveryAwsEfsFileSystemAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          encryption_status:
            $ref: '#/components/schemas/DiscoveryAwsEncryptionStatus'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryAzureContainerGroupEncryptionSourceCustomerManagedKey:
      allOf:
      - properties:
          key_id:
            type: string
        required:
        - key_id
        type: object
    DiscoveryAwsRedshiftCluster:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAwsRedshiftClusterAnalysis'
          encryption_status:
            $ref: '#/components/schemas/DiscoveryAwsRedshiftEncryptionStatus'
          kms_key_id:
            type:
            - string
            - 'null'
          name:
            type: string
          status:
            $ref: '#/components/schemas/DiscoveryAwsRedshiftClusterStatus'
        required:
        - name
        - encryption_status
        - status
        - analysis
        type: object
    DiscoveryOnPremObjectDetails:
      discriminator:
        mapping:
          filesystem: DiscoveryOnPremObjectDetailsVariantFilesystem
          on_prem_key: DiscoveryOnPremObjectDetailsVariantOnPremKey
          on_prem_ms_sql_database: DiscoveryOnPremObjectDetailsVariantOnPremMsSqlDatabase
          on_prem_oracle_database: DiscoveryOnPremObjectDetailsVariantOnPremOracleDatabase
          on_prem_source_code_component: DiscoveryOnPremObjectDetailsVariantOnPremSourceCodeComponent
          on_prem_source_code_repo: DiscoveryOnPremObjectDetailsVariantOnPremSourceCodeRepo
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryOnPremObjectDetailsVariantOnPremKey'
      - $ref: '#/components/schemas/DiscoveryOnPremObjectDetailsVariantOnPremMsSqlDatabase'
      - $ref: '#/components/schemas/DiscoveryOnPremObjectDetailsVariantOnPremOracleDatabase'
      - $ref: '#/components/schemas/DiscoveryOnPremObjectDetailsVariantOnPremSourceCodeRepo'
      - $ref: '#/components/schemas/DiscoveryOnPremObjectDetailsVariantOnPremSourceCodeComponent'
      - $ref: '#/components/schemas/DiscoveryOnPremObjectDetailsVariantFilesystem'
    DiscoveryOnPremFsAnalysis:
      allOf:
      - properties:
          agent_analysis:
            $ref: '#/components/schemas/DiscoveryOnPremFsAgentAnalysis'
          certificate_analysis:
            $ref: '#/components/schemas/DiscoveryOnPremFsCertificateAnalysis'
          crypto_policy_compliance:
            $ref: '#/components/schemas/DiscoveryOnPremCryptoPolicyCompliance'
          key_spec:
            $ref: '#/components/schemas/DiscoveryOnPremEncryptionAlgorithm'
          os_analysis:
            $ref: '#/components/schemas/DiscoveryOnPremFsOsAnalysis'
          violations:
            items:
              $ref: '#/components/schemas/DiscoveryOnPremFsViolation'
            type: array
            uniqueItems: true
        required:
        - violations
        type: object
    DiscoveryDsmSobjectEllipticCurve:
      enum:
      - x25519
      - ed25519
      - x448
      - secp192k1
      - secp224k1
      - secp256k1
      - nistp192
      - nistp224
      - nistp256
      - nistp384
      - nistp521
      - gost256a
      - other
      type: string
    DiscoveryAwsEbsVolumeAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          encryption_status:
            $ref: '#/components/schemas/DiscoveryAwsEncryptionStatus'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryAzureDatabaseDeploymentVariantSqlManagedInstancePool:
      allOf:
      - properties:
          $db_variant:
            enum:
            - sql_managed_instance_pool
            type: string
        required:
        - $db_variant
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureDatabaseDeploymentSqlManagedInstancePool'
    DiscoveryRevokedCertificate:
      allOf:
      - properties:
          revoked_at:
            type: string
          serial:
            type: string
        required:
        - serial
        - revoked_at
        type: object
    DiscoveryAwsKmsKeyRotationStatusVariantDisabled:
      allOf:
      - properties:
          $type:
            enum:
            - disabled
            type: string
        required:
        - $type
        type: object
      - properties: {}
        type: object
    DiscoveryScanInventoryObject:
      allOf:
      - description: ScanInventoryObject -- represents an external computational resource info fetched during a scan
        properties:
          acct_id:
            format: uuid
            type: string
          details:
            $ref: '#/components/schemas/DiscoveryScanInventoryObjectDetails'
          group_id:
            format: uuid
            type: string
          id:
            format: uuid
            type: string
          inventory_object:
            $ref: '#/components/schemas/DiscoveryInventoryObject'
          scan_id:
            format: uuid
            type: string
          scanned_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
        required:
        - acct_id
        - details
        - group_id
        - id
        - scan_id
        - scanned_at
        type: object
    DiscoveryAwsEksClusterAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          encryption_status:
            $ref: '#/components/schemas/DiscoveryAwsEncryptionStatus'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryDsmDeploymentVariantOther:
      allOf:
      - properties:
          $type:
            enum:
            - other
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryDsmDeploymentOther'
    DiscoveryAzureDatabaseEncryptionKeySourceVariantDeploymentLevelCustomerManagedKey:
      allOf:
      - properties:
          $type:
            enum:
            - deployment_level_customer_managed_key
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureDatabaseEncryptionKeySourceDeploymentLevelCustomerManagedKey'
    DiscoveryPgpPublicKeyMetadata:
      allOf:
      - properties: {}
        type: object
    DiscoveryAwsKmsKeyRotationStatusVariantEnabled:
      allOf:
      - properties:
          $type:
            enum:
            - enabled
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsKmsKeyRotationStatusEnabled'
    DiscoveryOnPremKeyRotationCompliance:
      enum:
      - compliant
      - not_rotated_in_compliance_period
      - rotation_status_not_known
      type: string
    DiscoveryAwsKmsKeyAnalysis:
      allOf:
      - properties:
          crypto_policy_compliance:
            $ref: '#/components/schemas/DiscoveryAwsCryptoPolicyCompliance'
          is_cross_account_key:
            type:
            - boolean
            - 'null'
          is_shared:
            type: boolean
          overly_permissive_violations:
            $ref: '#/components/schemas/DiscoveryOverlyPermissiveViolations'
          usage_details:
            $ref: '#/components/schemas/DiscoveryKeyUsageDetails'
          usages:
            items:
              $ref: '#/components/schemas/DiscoveryKeyUsage'
            type:
            - array
            - 'null'
            uniqueItems: true
        required:
        - is_shared
        type: object
    DiscoveryAwsService:
      enum:
      - acm
      - ebs
      - kms
      - s3
      - rds
      - dynamo_db
      - eks
      - efs
      - redshift
      type: string
    DiscoveryOnPremOracleDatabaseEncryption:
      allOf:
      - properties:
          encryption_key_details:
            items:
              $ref: '#/components/schemas/DiscoveryOnPremOracleDatabaseEncryptionKeyDetails'
            type: array
          wallet_location:
            type:
            - string
            - 'null'
          wallet_name:
            type: string
          wallet_status:
            $ref: '#/components/schemas/DiscoveryOnPremOracleDatabaseEncryptionWalletStatus'
        required:
        - wallet_name
        - wallet_status
        - encryption_key_details
        type: object
    DiscoveryAzureKvAccessTier:
      enum:
      - standard
      - premium
      type: string
    DiscoveryAzureKvKeyVersion:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAzureKvKeyAnalysis'
          is_current_version:
            description: True if this is the latest key version, False otherwise.
            type: boolean
          is_key_managed:
            description: 'True if the key version''s lifetime is managed by key vault,

              False otherwise.'
            type: boolean
          key_attributes:
            $ref: '#/components/schemas/DiscoveryAzureKvKeyAttributes'
          key_name:
            description: The name associated with the key version.
            type: string
          key_ops:
            description: Allowed key operations on the key version.
            items:
              $ref: '#/components/schemas/DiscoveryAzureKvKeyOperation'
            type: array
          key_rotation_date:
            description: 'Returns the date when the key will be rotated. None, when the auto

              key rotation is not enabled for the key.'
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          key_source:
            $ref: '#/components/schemas/DiscoveryAzureKeySource'
          key_type:
            $ref: '#/components/schemas/DiscoveryAzureKvKeyType'
          key_vault_access_tier:
            $ref: '#/components/schemas/DiscoveryAzureKvAccessTier'
          key_vault_name:
            description: Represents the Azure Key Vault Name.
            type: string
          key_vault_uri:
            description: Represents the Azure key vault URI.
            type: string
          key_version:
            description: The key version of the scanned key.
            type: string
          source_scan_inventory_object:
            $ref: '#/components/schemas/DiscoveryScanInventoryObjectReference'
          tags:
            additionalProperties:
              type: string
            description: The tags associated with the key version.
            type: object
        required:
        - key_name
        - key_version
        - is_current_version
        - key_vault_uri
        - key_vault_name
        - key_vault_access_tier
        - key_attributes
        - key_type
        - key_ops
        - tags
        - is_key_managed
        - analysis
        type: object
    DiscoveryAzureKvRecoveryLevel:
      enum:
      - customized_recoverable
      - customized_recoverable_and_protected_subscription
      - customized_recoverable_and_purgeable
      - purgeable
      - recoverable
      - recoverable_and_protected_subscription
      - recoverable_and_purgeable
      - unknown
      type: string
    DiscoveryCertificateIssuer:
      allOf:
      - type: string
      description: 'Certificate''s `issuer` generated from [DistinguishedName::to_string()]

        / parseable by [DistinguishedName::from_str()]

        Certificate Distinguished Name (DN) mandated + optional fields,

        as defined in RFC 5280 §4.1.2.4 - used for both `issuer` and `subject`.

        ASN.1 in the same RFC allows zero or more values for each of these fields.


        To present it nicely in a UI:

        * Primary label: first `common_name` (CN).

        * Fallback: first `organization_name` (O).

        * Optional detail: append `organizational_unit_name` (OU), `country_name` (C),

        or `domain_component` (DC) as needed.


        The string is presented as a serialized json from distinguished name map indexed by the short labels (uppercase) for each sub-field.'
    DiscoveryOnPremOracleDatabaseEncryptionWalletStatus:
      enum:
      - valid
      - expired
      - unavailable
      - closed
      - open
      - open_no_master_key
      - open_unknown_master_key_status
      - undefined
      type: string
    DiscoveryJwsHeaderMetadata:
      allOf:
      - properties:
          algorithm:
            type:
            - string
            - 'null'
          content_type:
            type:
            - string
            - 'null'
          critical:
            items:
              type: string
            type:
            - array
            - 'null'
          jwk:
            $ref: '#/components/schemas/DiscoveryCryptographicMetadata'
          jwk_set_url:
            type:
            - string
            - 'null'
          key_id:
            type:
            - string
            - 'null'
          nonce:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          token_type:
            type:
            - string
            - 'null'
          url:
            type:
            - string
            - 'null'
          x509_certificate_chain:
            items:
              items:
                maximum: 255
                minimum: 0
                type: integer
              type: array
            type:
            - array
            - 'null'
          x509_certificate_sha1_thumbprint:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          x509_certificate_sha256_thumbprint:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          x509_url:
            type:
            - string
            - 'null'
        type: object
    DiscoveryAzureManagedClusterAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_exportable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type: boolean
          encrypted_with_overly_permissive_usage_key:
            type: boolean
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type: boolean
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        - encrypted_with_overly_permissive_usage_key
        - encrypted_with_overly_permissive_management_key
        - key_availability
        - encrypted_with_shared_key
        type: object
    DiscoveryAwsDefaultServerSideEncryption:
      allOf:
      - properties:
          kms_master_key:
            type:
            - string
            - 'null'
          sse_algorithm:
            $ref: '#/components/schemas/DiscoveryAwsSseAlgorithm'
        type: object
    DiscoveryOnPremObjectDetailsVariantOnPremMsSqlDatabase:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem_ms_sql_database
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremMsSqlDatabase'
    DiscoveryInventoryObjectExternalIdOnPremFs:
      allOf:
      - properties:
          file_path:
            type: string
          machine_id:
            type: string
        required:
        - machine_id
        - file_path
        type: object
    DiscoveryScanInventoryObjectDetailsVariantAzure:
      allOf:
      - properties:
          $type:
            enum:
            - azure
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureObject'
    DiscoveryDsmSobjectRotateCopiedKeysSelect:
      allOf:
      - properties:
          sobject_ids:
            items:
              format: uuid
              type: string
            type: array
        required:
        - sobject_ids
        type: object
    DiscoveryPkcs7DigestedDataMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryExtendedKeyUsage:
      oneOf:
      - enum:
        - server_auth
        title: DiscoveryExtendedKeyUsageVariantServerAuth
        type: string
      - enum:
        - client_auth
        title: DiscoveryExtendedKeyUsageVariantClientAuth
        type: string
      - enum:
        - code_signing
        title: DiscoveryExtendedKeyUsageVariantCodeSigning
        type: string
      - enum:
        - email_protection
        title: DiscoveryExtendedKeyUsageVariantEmailProtection
        type: string
      - enum:
        - time_stamping
        title: DiscoveryExtendedKeyUsageVariantTimeStamping
        type: string
      - enum:
        - ocsp_signing
        title: DiscoveryExtendedKeyUsageVariantOcspSigning
        type: string
      - properties:
          unknown:
            description: Unknown value, will contain the OID that was found
            type: string
        required:
        - unknown
        title: DiscoveryExtendedKeyUsageVariantUnknown
        type: object
    DiscoveryDiffieHellmanParamsMetadata:
      allOf:
      - properties:
          g:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type: array
          p:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type: array
          q:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
        required:
        - p
        - g
        type: object
    DiscoveryAzureManagedCluster:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAzureManagedClusterAnalysis'
          disk_encryption_details:
            $ref: '#/components/schemas/DiscoveryAzureManagedClusterDiskEncryptionDetails'
          name:
            type: string
        required:
        - name
        - disk_encryption_details
        - analysis
        type: object
    DiscoveryAcmCertificateExtendedKeyUsageName:
      enum:
      - any
      - code_signing
      - custom
      - email_protection
      - ipsec_end_system
      - ipsec_tunnel
      - ipsec_user
      - none
      - ocsp_signing
      - time_stamping
      - tls_web_server_authentication
      - tls_web_client_authentication
      - unknown
      type: string
    DiscoveryAwsObjectDetailsVariantKms:
      allOf:
      - properties:
          $type:
            enum:
            - kms
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsKmsKey'
    DiscoveryAzureObjectDetailsVariantKvKeyVersion:
      allOf:
      - properties:
          $type:
            enum:
            - kv_key_version
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureKvKeyVersion'
    DiscoveryOnPremKeyStatus:
      enum:
      - valid
      - expired
      type: string
    DiscoveryOnPremKeyAnalysis:
      allOf:
      - properties:
          crypto_policy_compliance:
            $ref: '#/components/schemas/DiscoveryOnPremCryptoPolicyCompliance'
          key_expiration_compliance:
            $ref: '#/components/schemas/DiscoveryOnPremKeyExpirationCompliance'
          key_rotation_compliance:
            $ref: '#/components/schemas/DiscoveryOnPremKeyRotationCompliance'
          usage_details:
            $ref: '#/components/schemas/DiscoveryKeyUsageDetails'
        required:
        - usage_details
        - key_rotation_compliance
        type: object
    DiscoveryPkcs7SignerInfoMetadata:
      allOf:
      - properties:
          digest_alg:
            $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
          sid:
            $ref: '#/components/schemas/DiscoveryPkcs7SignerIdentifieroMetadata'
          signature:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type: array
          signature_alg:
            $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
          signed_attributes:
            items:
              $ref: '#/components/schemas/DiscoveryPkcs7Attribute'
            type:
            - array
            - 'null'
          unsigned_attributes:
            items:
              $ref: '#/components/schemas/DiscoveryPkcs7Attribute'
            type:
            - array
            - 'null'
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        - digest_alg
        - sid
        - signature_alg
        - signature
        type: object
    DiscoveryAzureDatabaseDeploymentCosmosDb:
      allOf:
      - properties:
          api:
            description: 'The API a Cosmos databases exposes to applications.

              Some possible values currently available in Azure are

              "Sql", "MongoDB", "Cassandra", ...

              This may be directly exposed in the frontend.'
            type: string
          properties:
            $ref: '#/components/schemas/DiscoveryAzureDatabaseDeploymentProperties'
        required:
        - api
        - properties
        type: object
    DiscoveryAzureContainerGroupEncryptionSourceVariantMicrosoftManagedKey:
      allOf:
      - properties:
          $type:
            enum:
            - microsoft_managed_key
            type: string
        required:
        - $type
        type: object
      - properties: {}
        type: object
    DiscoveryAzureObjectDetails:
      discriminator:
        mapping:
          container_group: DiscoveryAzureObjectDetailsVariantContainerGroup
          database: DiscoveryAzureObjectDetailsVariantDatabase
          kv_key_version: DiscoveryAzureObjectDetailsVariantKvKeyVersion
          managed_cluster: DiscoveryAzureObjectDetailsVariantManagedCluster
          managed_disk: DiscoveryAzureObjectDetailsVariantManagedDisk
          storage_account: DiscoveryAzureObjectDetailsVariantStorageAccount
          storage_account_blob: DiscoveryAzureObjectDetailsVariantStorageAccountBlob
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantDatabase'
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantKvKeyVersion'
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantStorageAccount'
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantContainerGroup'
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantManagedDisk'
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantManagedCluster'
      - $ref: '#/components/schemas/DiscoveryAzureObjectDetailsVariantStorageAccountBlob'
    DiscoveryAzureKeyAvailabilitySoftDeleted:
      allOf:
      - properties:
          deleted_on:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          scheduled_purge_on:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
        required:
        - deleted_on
        type: object
    DiscoveryAzureDiskState:
      description: 'Used to represent state of [AzureManagedDisk]. for reference:

        [Documentation](https://learn.microsoft.com/en-us/rest/api/compute/disks/list-by-resource-group?view=rest-compute-2024-03-01&tabs=HTTP#diskstate)'
      enum:
      - active_sas
      - active_sas_frozen
      - active_upload
      - attached
      - frozen
      - ready_to_upload
      - reserved
      - unattached
      - other
      type: string
    DiscoveryAzureStorageKeySourceVariantKeyVault:
      allOf:
      - properties:
          $type:
            enum:
            - key_vault
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureStorageKeySourceKeyVault'
    DiscoveryScanInventoryObjectDetailsVariantOnPrem:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremObject'
    DiscoveryOnPremSourceCodeComponent:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryOnPremSourceCodeComponentAnalysis'
          details:
            $ref: '#/components/schemas/DiscoveryOnPremSourceCodeComponentDetails'
          repo_url:
            format: url
            type: string
          revision:
            type: string
        required:
        - repo_url
        - revision
        - details
        - analysis
        type: object
    DiscoveryPkcs7EncryptedPrivateKeyInfoMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryJwtMetadata:
      allOf:
      - properties:
          header:
            $ref: '#/components/schemas/DiscoveryJwtHeader'
          signature:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type: array
        required:
        - header
        - signature
        type: object
    DiscoveryAzureDatabaseDeploymentSqlSingleServer:
      allOf:
      - properties:
          properties:
            $ref: '#/components/schemas/DiscoveryAzureDatabaseDeploymentProperties'
          tier:
            $ref: '#/components/schemas/DiscoveryAzureSqlSingleServerTier'
        required:
        - tier
        - properties
        type: object
    DiscoveryOnPremObjectDetailsVariantOnPremOracleDatabase:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem_oracle_database
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremOracleDatabase'
    DiscoveryKeyPolicyIdAwsKeyPolicySid:
      allOf:
      - properties:
          sid:
            type: string
        required:
        - sid
        type: object
    DiscoveryOnPremKey:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryOnPremKeyAnalysis'
          created_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          encryption_algorithm:
            $ref: '#/components/schemas/DiscoveryOnPremEncryptionAlgorithm'
          expires_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          key_category:
            $ref: '#/components/schemas/DiscoveryOnPremKeyCategory'
          key_rotation_status:
            $ref: '#/components/schemas/DiscoveryOnPremKeyRotationStatus'
          key_source:
            $ref: '#/components/schemas/DiscoveryOnPremKeySource'
          name:
            type:
            - string
            - 'null'
          next_rotation_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          source_scan_inventory_object:
            $ref: '#/components/schemas/DiscoveryScanInventoryObjectReference'
          status:
            $ref: '#/components/schemas/DiscoveryOnPremKeyStatus'
          version:
            type:
            - string
            - 'null'
        required:
        - status
        - key_source
        - key_category
        - encryption_algorithm
        - key_rotation_status
        - analysis
        type: object
    DiscoveryInventoryObjectExternalIdDsm:
      allOf:
      - properties:
          deployment:
            $ref: '#/components/schemas/DiscoveryDsmDeployment'
          id:
            format: uuid
            type: string
          resource_type:
            $ref: '#/components/schemas/DiscoveryDsmResourceType'
        required:
        - id
        - deployment
        - resource_type
        type: object
    DiscoveryDsmDeploymentOther:
      allOf:
      - properties:
          url:
            format: url
            type: string
        required:
        - url
        type: object
    DiscoveryJweHeaderMetadata:
      allOf:
      - properties:
          agreement_partyuinfo:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          agreement_partyvinfo:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          algorithm:
            type:
            - string
            - 'null'
          audience:
            type:
            - string
            - 'null'
          compression:
            type:
            - string
            - 'null'
          content_encryption:
            type:
            - string
            - 'null'
          content_type:
            type:
            - string
            - 'null'
          critical:
            items:
              type: string
            type:
            - array
            - 'null'
          issuer:
            type:
            - string
            - 'null'
          jwk:
            $ref: '#/components/schemas/DiscoveryCryptographicMetadata'
          jwk_set_url:
            type:
            - string
            - 'null'
          key_id:
            type:
            - string
            - 'null'
          nonce:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          subject:
            type:
            - string
            - 'null'
          token_type:
            type:
            - string
            - 'null'
          url:
            type:
            - string
            - 'null'
          x509_certificate_chain:
            items:
              items:
                maximum: 255
                minimum: 0
                type: integer
              type: array
            type:
            - array
            - 'null'
          x509_certificate_sha1_thumbprint:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          x509_certificate_sha256_thumbprint:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
          x509_url:
            type:
            - string
            - 'null'
        type: object
    DiscoveryOpenSshPublicKeyMetadata:
      allOf:
      - properties:
          comment:
            type: string
          public_key:
            $ref: '#/components/schemas/DiscoveryPublicKeyMetadata'
        required:
        - comment
        - public_key
        type: object
    DiscoveryScanInventoryObjects:
      allOf:
      - properties:
          items:
            items:
              $ref: '#/components/schemas/DiscoveryScanInventoryObject'
            type: array
        required:
        - items
        type: object
    DiscoveryAzureDatabaseProperties:
      allOf:
      - properties:
          database_name:
            type: string
          is_tde_enabled:
            description: 'If true, encryption is in place either with a CMK (customer managed key)

              or MMK (microsoft managed key).'
            type: boolean
        required:
        - database_name
        - is_tde_enabled
        type: object
    DiscoveryScanInventoryObjectReference:
      allOf:
      - properties:
          id:
            format: uuid
            type: string
          scan_id:
            format: uuid
            type: string
        required:
        - id
        - scan_id
        type: object
    DiscoveryOnPremOracleDatabaseAnalysis:
      allOf:
      - properties:
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryScanInventoryObjectDetailsVariantDsm:
      allOf:
      - properties:
          $type:
            enum:
            - dsm
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryDsmObject'
    DiscoveryScanInventoryObjectDetailsVariantAws:
      allOf:
      - properties:
          $type:
            enum:
            - aws
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsObject'
    DiscoveryAzureContainerGroup:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAzureContainerGroupAnalysis'
          encryption_source:
            $ref: '#/components/schemas/DiscoveryAzureContainerGroupEncryptionSource'
          name:
            type: string
        required:
        - name
        - encryption_source
        - analysis
        type: object
    DiscoveryPkcs7SignedAndEnvelopedDataMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryOnPremObjectDetailsVariantOnPremSourceCodeRepo:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem_source_code_repo
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremSourceCodeRepo'
    DiscoveryAwsEbsVolumeState:
      description: 'Enumeration of the states that a volume may occupy.


        This enum will default to the `Other` variant when a new variant is

        found as the SDK from AWS marks their enum as "non-exhaustive"'
      enum:
      - available
      - creating
      - deleted
      - deleting
      - error
      - in_use
      - other
      type: string
    DiscoveryDsmDeploymentVariantSaaS:
      allOf:
      - properties:
          $type:
            enum:
            - saas
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryDsmDeploymentSaaS'
    DiscoveryJwtHeader:
      oneOf:
      - properties:
          jws_header:
            $ref: '#/components/schemas/DiscoveryJwsHeaderMetadata'
        required:
        - jws_header
        title: DiscoveryJwtHeaderVariantJwsHeader
        type: object
      - properties:
          protected_jws_header:
            $ref: '#/components/schemas/DiscoveryJwsHeaderMetadata'
        required:
        - protected_jws_header
        title: DiscoveryJwtHeaderVariantProtectedJwsHeader
        type: object
      - properties:
          jwe_header:
            $ref: '#/components/schemas/DiscoveryJweHeaderMetadata'
        required:
        - jwe_header
        title: DiscoveryJwtHeaderVariantJweHeader
        type: object
      - properties:
          protected_jwe_header:
            $ref: '#/components/schemas/DiscoveryJweHeaderMetadata'
        required:
        - protected_jwe_header
        title: DiscoveryJwtHeaderVariantProtectedJweHeader
        type: object
    DiscoveryAwsEksEncryptionStatus:
      enum:
      - encrypted
      - unencrypted
      type: string
    DiscoveryAzureService:
      enum:
      - key_vaults
      - storage_accounts
      - sql_server
      - cosmos_db
      - container_groups
      - managed_disks
      - managed_clusters
      - storage_account_blobs
      type: string
    DiscoveryPkcs7EnvelopedDataMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryDsmSobject:
      allOf:
      - properties:
          activation_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          analysis:
            $ref: '#/components/schemas/DiscoveryDsmSobjectAnalysis'
          compromise_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          creation_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          custom_metadata:
            additionalProperties:
              type: string
            type:
            - object
            - 'null'
          deactivation_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          deletion_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          description:
            type:
            - string
            - 'null'
          destruction_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          dsm_group_id:
            format: uuid
            type: string
          dsm_group_name:
            type:
            - string
            - 'null'
          elliptic_curve:
            $ref: '#/components/schemas/DiscoveryDsmSobjectEllipticCurve'
          hmg_configs:
            items:
              $ref: '#/components/schemas/DiscoveryDsmHmgConfig'
            type:
            - array
            - 'null'
          is_enabled:
            type: boolean
          kcv:
            type:
            - string
            - 'null'
          key_links:
            $ref: '#/components/schemas/DiscoveryDsmSobjectKeyLinks'
          key_operations:
            items:
              $ref: '#/components/schemas/DiscoveryDsmSobjectKeyOperations'
            type:
            - array
            - 'null'
          key_size:
            maximum: 4294967295
            minimum: 0
            type:
            - integer
            - 'null'
          name:
            type: string
          object_type:
            $ref: '#/components/schemas/DiscoveryDsmSobjectType'
          origin:
            $ref: '#/components/schemas/DiscoveryDsmSobjectOrigin'
          rotation_policy:
            $ref: '#/components/schemas/DiscoveryDsmSobjectRotationPolicy'
          sobject_id:
            format: uuid
            type: string
          state:
            $ref: '#/components/schemas/DiscoveryDsmSobjectState'
        required:
        - sobject_id
        - name
        - state
        - creation_date
        - object_type
        - origin
        - is_enabled
        - dsm_group_id
        - analysis
        type: object
    DiscoveryAwsKmsKeyRotationStatus:
      discriminator:
        mapping:
          disabled: DiscoveryAwsKmsKeyRotationStatusVariantDisabled
          enabled: DiscoveryAwsKmsKeyRotationStatusVariantEnabled
          unknown: DiscoveryAwsKmsKeyRotationStatusVariantUnknown
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryAwsKmsKeyRotationStatusVariantUnknown'
      - $ref: '#/components/schemas/DiscoveryAwsKmsKeyRotationStatusVariantEnabled'
      - $ref: '#/components/schemas/DiscoveryAwsKmsKeyRotationStatusVariantDisabled'
    DiscoveryDsmSobjectState:
      description: DSM Security object operational state.
      enum:
      - pre_active
      - active
      - deactivated
      - compromised
      - destroyed
      - deleted
      - other
      - not_available
      type: string
    DiscoveryInventoryObjectExternalIdVariantOnPrem:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryInventoryObjectExternalIdOnPrem'
    DiscoveryAzureContainerGroupEncryptionSource:
      discriminator:
        mapping:
          customer_managed_key: DiscoveryAzureContainerGroupEncryptionSourceVariantCustomerManagedKey
          microsoft_managed_key: DiscoveryAzureContainerGroupEncryptionSourceVariantMicrosoftManagedKey
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryAzureContainerGroupEncryptionSourceVariantMicrosoftManagedKey'
      - $ref: '#/components/schemas/DiscoveryAzureContainerGroupEncryptionSourceVariantCustomerManagedKey'
    DiscoveryOnPremEncryptionAlgorithm:
      enum:
      - aes
      - dsa
      - ecdh
      - ecmqv
      - ed_dsa
      - fpe
      - hmac_sha
      - rc2
      - rc4
      - rsa
      - rsa_oaep
      - sike
      - des
      - des3
      - aes128
      - aes192
      - aes256
      - cha_cha20_poly1305
      - x_cha_cha20_poly1305
      - camellia128
      - camellia192
      - camellia256
      - aria128
      - aria192
      - aria256
      - twofish128
      - twofish192
      - twofish256
      - blowfish128
      - blowfish256
      - sm4_128
      - des56
      - tdes2_key112
      - tdes3_key168
      - des_x
      - rc2_40
      - rc2_64
      - rc2_128
      - rc4_40
      - rc4_128
      - rc4_256
      - hmac_sha1
      - hmac_sha224
      - hmac_sha256
      - hmac_sha384
      - hmac_sha512
      - rsa512
      - rsa1024
      - rsa2048
      - rsa3072
      - rsa4096
      - ecdsa_p256
      - ecdsa_p384
      - ecdsa_p521
      - ecdsa_secp256k1
      - ecdsa_brainpool_p256r1
      - ecdsa_brainpool_p384r1
      - ecdsa_brainpool_p512r1
      - ecdh_p256
      - ecdh_p384
      - ecdh_p521
      - ecdh_secp256k1
      - ecdh_brainpool_p256r1
      - ecdh_brainpool_p384r1
      - ecdh_brainpool_p512r1
      - ecmqv_p256
      - ecmqv_p384
      - ecmqv_p521
      - ed25519
      - ed448
      - x25519
      - x448
      - ec_generic_p256
      - ec_generic_p384
      - ec_generic_p521
      - ec_generic_secp256k1
      - ec_generic_brainpool_p256r1
      - ec_generic_brainpool_p384r1
      - ec_generic_brainpool_p512r1
      - ec_generic_curve25519
      - ec_generic_curve448
      - dsa1024
      - dsa2048
      - dsa3072
      - sm2_sign
      - sm2_kem
      - aead_aes256_cbc_hmac_sha256
      - ml_kem512
      - ml_kem768
      - ml_kem1024
      - ml_dsa44
      - ml_dsa65
      - ml_dsa87
      - falcon512
      - falcon1024
      - sphincs_plus_shake128s
      - sphincs_plus_shake128f
      - sphincs_plus_shake192s
      - sphincs_plus_shake192f
      - sphincs_plus_shake256s
      - sphincs_plus_shake256f
      - sike_p434
      - sike_p503
      - sike_p610
      - sike_p751
      - hidden
      - unknown
      type: string
    DiscoveryAwsObjectDetailsVariantS3:
      allOf:
      - properties:
          $type:
            enum:
            - s3
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsS3Bucket'
    DiscoveryDsmSobjectRotationIntervalVariantIntervalMonths:
      allOf:
      - properties:
          $type:
            enum:
            - interval_months
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryDsmSobjectRotationIntervalIntervalMonths'
    DiscoveryCryptographicAlgorithm:
      oneOf:
      - properties:
          skipped:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - skipped
        type: object
    DiscoveryAwsS3BucketAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          encryption_status:
            $ref: '#/components/schemas/DiscoveryAwsEncryptionStatus'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryAzureDatabaseEncryptionKeySourceDeploymentLevelCustomerManagedKey:
      allOf:
      - properties:
          key_id:
            type: string
        required:
        - key_id
        type: object
    DiscoveryAzureStorageAccountKind:
      enum:
      - blob_storage
      - block_blob_storage
      - file_storage
      - storage
      - storage_v2
      - unknown
      type: string
    DiscoveryAwsKmsKeyUsage:
      enum:
      - sign_verify
      - encrypt_decrypt
      - generate_verify_mac
      - other
      type: string
    DiscoveryAzureObjectDetailsVariantStorageAccount:
      allOf:
      - properties:
          $type:
            enum:
            - storage_account
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureStorageAccount'
    DiscoveryOnPremKeyRotationStatusRotated:
      allOf:
      - properties:
          last_rotated_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
        required:
        - last_rotated_at
        type: object
    DiscoveryAwsObjectDetailsVariantRedshift:
      allOf:
      - properties:
          $type:
            enum:
            - redshift
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsRedshiftCluster'
    DiscoveryDsmSobjectAnalysis:
      allOf:
      - properties:
          crypto_policy_compliance:
            $ref: '#/components/schemas/DiscoveryDsmCryptoPolicyCompliance'
          is_source_key:
            type:
            - boolean
            - 'null'
        type: object
    DiscoveryAzureContainerGroupAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_exportable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type: boolean
          encrypted_with_overly_permissive_usage_key:
            type: boolean
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type: boolean
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        - encrypted_with_overly_permissive_usage_key
        - encrypted_with_overly_permissive_management_key
        - key_availability
        - encrypted_with_shared_key
        type: object
    DiscoveryDsmSobjectRotateCopiedKeysVariantSelect:
      allOf:
      - properties:
          $type:
            enum:
            - select
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryDsmSobjectRotateCopiedKeysSelect'
    DiscoveryAzureManagedClusterDiskEncryptionDetailsVariantEncryptionAtRestWithCustomerKey:
      allOf:
      - properties:
          $type:
            enum:
            - encryption_at_rest_with_customer_key
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureManagedClusterDiskEncryptionDetailsEncryptionAtRestWithCustomerKey'
    DiscoveryAzureDatabaseEncryptionDetails:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAzureDatabaseAnalysis'
          key_source:
            $ref: '#/components/schemas/DiscoveryAzureDatabaseEncryptionKeySource'
        required:
        - key_source
        - analysis
        type: object
    DiscoveryAzureStorageAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_exportable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryAzureStorageAccountBlob:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAzureStorageAccountBlobAnalysis'
          container_name:
            type: string
          encryption_settings:
            $ref: '#/components/schemas/DiscoveryAzureEncryptionSettings'
          name:
            type: string
          storage_account_name:
            type: string
        required:
        - name
        - container_name
        - storage_account_name
        - encryption_settings
        - analysis
        type: object
    DiscoveryAcmCertificateAnalysis:
      allOf:
      - properties:
          is_expired:
            type: boolean
          is_shared:
            type: boolean
          key_algo_crypto_policy_compliance:
            $ref: '#/components/schemas/DiscoveryAwsCryptoPolicyCompliance'
          overly_permissive_usage_violation:
            type: boolean
          signature_crypto_policy_compliance:
            $ref: '#/components/schemas/DiscoveryAwsCryptoPolicyCompliance'
        required:
        - is_shared
        - is_expired
        - overly_permissive_usage_violation
        type: object
    DiscoveryPublicKeyMetadata:
      allOf:
      - properties:
          algorithm:
            $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
          fingerprint:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
        required:
        - algorithm
        type: object
    DiscoveryOnPremObjectDetailsVariantOnPremKey:
      allOf:
      - properties:
          $type:
            enum:
            - on_prem_key
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryOnPremKey'
    DiscoveryAcmCertificateSignatureAlgorithm:
      enum:
      - sha256_with_rsa
      - sha512_with_rsa
      - unknown
      type: string
    DiscoveryAwsAccountDetails:
      allOf:
      - properties:
          name:
            type:
            - string
            - 'null'
        type: object
    DiscoveryAwsEbsVolumeType:
      description: 'Enumeration of the various types of volumes supported.


        This enum will default to the `Other` variant when a new variant is

        found as the SDK from AWS marks their enum as "non-exhaustive"'
      enum:
      - gp2
      - gp3
      - io1
      - io2
      - sc1
      - st1
      - standard
      - other
      type: string
    DiscoveryAwsKmsKey:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeyAnalysis'
          external_key_stores:
            items:
              $ref: '#/components/schemas/DiscoveryAwsKmsExternalKeyStore'
            type:
            - array
            - 'null'
          key_aliases:
            items:
              type: string
            type: array
          key_creation_date:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          key_id:
            type:
            - string
            - 'null'
          key_manager:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeyManager'
          key_origin:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeyOrigin'
          key_rotation_status:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeyRotationStatus'
          key_spec:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeySpec'
          key_state:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeyState'
          key_tags:
            additionalProperties:
              type: string
            type:
            - object
            - 'null'
          key_usage:
            $ref: '#/components/schemas/DiscoveryAwsKmsKeyUsage'
          key_valid_to:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          last_rotated_at:
            example: 20170509T070912Z
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            type: string
          source_scan_inventory_object:
            $ref: '#/components/schemas/DiscoveryScanInventoryObjectReference'
        required:
        - key_aliases
        - analysis
        type: object
    DiscoveryOnPremMsSqlDatabaseEncryption:
      allOf:
      - properties:
          encryption_key_id:
            type: string
          encryption_key_use:
            $ref: '#/components/schemas/DiscoveryOnPremMsSqlDatabaseEncryptionKeyUse'
        required:
        - encryption_key_id
        - encryption_key_use
        type: object
    DiscoveryDsmSobjectRotationIntervalVariantIntervalDays:
      allOf:
      - properties:
          $type:
            enum:
            - interval_days
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryDsmSobjectRotationIntervalIntervalDays'
    DiscoveryAzureManagedClusterDiskEncryptionDetailsEncryptionAtRestWithCustomerKey:
      allOf:
      - properties:
          key_id:
            type: string
          key_rotation_enabled:
            type: boolean
        required:
        - key_id
        - key_rotation_enabled
        type: object
    DiscoveryAzureObjectDetailsVariantManagedCluster:
      allOf:
      - properties:
          $type:
            enum:
            - managed_cluster
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAzureManagedCluster'
    DiscoveryPrivateKeyMetadata:
      allOf:
      - properties:
          algorithm:
            $ref: '#/components/schemas/DiscoveryCryptographicAlgorithm'
          encryption:
            $ref: '#/components/schemas/DiscoveryEncryptionMetadata'
          fingerprint:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type:
            - array
            - 'null'
        required:
        - algorithm
        - encryption
        type: object
    DiscoveryParametersMetadata:
      oneOf:
      - properties:
          elliptic_curve:
            $ref: '#/components/schemas/DiscoveryEllipticCurveParamsMetadata'
        required:
        - elliptic_curve
        title: DiscoveryParametersMetadataVariantEllipticCurve
        type: object
      - properties:
          diffie_hellman:
            $ref: '#/components/schemas/DiscoveryDiffieHellmanParamsMetadata'
        required:
        - diffie_hellman
        title: DiscoveryParametersMetadataVariantDiffieHellman
        type: object
    DiscoveryAwsKmsKeySpec:
      enum:
      - rsa2048
      - rsa3072
      - rsa4096
      - ecc_nist_p256
      - ecc_nist_p384
      - ecc_nist_p521
      - ecc_secg_p256k1
      - symmetric_default
      - hmac224
      - hmac256
      - hmac384
      - hmac512
      - sm2
      - other
      type: string
    DiscoveryAwsObjectDetailsVariantRds:
      allOf:
      - properties:
          $type:
            enum:
            - rds
            type: string
        required:
        - $type
        type: object
      - $ref: '#/components/schemas/DiscoveryAwsRdsDbInstance'
    DiscoveryInventoryObjectOwner:
      allOf:
      - properties:
          email:
            type: string
          name:
            type: string
        required:
        - name
        - email
        type: object
    DiscoveryAzureDatabaseAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type:
            - boolean
            - 'null'
          encrypted_with_exportable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type:
            - boolean
            - 'null'
          encrypted_with_overly_permissive_usage_key:
            type:
            - boolean
            - 'null'
          encrypted_with_quantum_vulnerable_key:
            type:
            - boolean
            - 'null'
          encrypted_with_shared_key:
            type:
            - boolean
            - 'null'
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        type: object
    DiscoveryEncryptionMetadata:
      description: Describes whether the cryptographic material is wrapped in a symmetric key -- requiring a passphrase
      oneOf:
      - enum:
        - unencrypted
        title: DiscoveryEncryptionMetadataVariantUnencrypted
        type: string
      - properties:
          encrypted:
            $ref: '#/components/schemas/DiscoveryEncryptionMetadataEncrypted'
        required:
        - encrypted
        title: DiscoveryEncryptionMetadataVariantEncrypted
        type: object
    DiscoveryPkcs7EncryptedDataMetadata:
      allOf:
      - properties:
          version:
            maximum: 4294967295
            minimum: 0
            type: integer
        required:
        - version
        type: object
    DiscoveryOverlyPermissiveViolations:
      allOf:
      - properties:
          management_violations:
            items:
              $ref: '#/components/schemas/DiscoveryKeyPolicyId'
            type: array
          usage_violations:
            items:
              $ref: '#/components/schemas/DiscoveryKeyPolicyId'
            type: array
        required:
        - usage_violations
        - management_violations
        type: object
    DiscoveryScanInventoryObjectDetails:
      discriminator:
        mapping:
          aws: DiscoveryScanInventoryObjectDetailsVariantAws
          azure: DiscoveryScanInventoryObjectDetailsVariantAzure
          dsm: DiscoveryScanInventoryObjectDetailsVariantDsm
          on_prem: DiscoveryScanInventoryObjectDetailsVariantOnPrem
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryScanInventoryObjectDetailsVariantAws'
      - $ref: '#/components/schemas/DiscoveryScanInventoryObjectDetailsVariantAzure'
      - $ref: '#/components/schemas/DiscoveryScanInventoryObjectDetailsVariantOnPrem'
      - $ref: '#/components/schemas/DiscoveryScanInventoryObjectDetailsVariantDsm'
    DiscoveryDsmDeployment:
      discriminator:
        mapping:
          other: DiscoveryDsmDeploymentVariantOther
          saas: DiscoveryDsmDeploymentVariantSaaS
        propertyName: $type
      oneOf:
      - $ref: '#/components/schemas/DiscoveryDsmDeploymentVariantSaaS'
      - $ref: '#/components/schemas/DiscoveryDsmDeploymentVariantOther'
    DiscoveryPkcs7SignerIdentifieroMetadataSubjectKeyIdentifier:
      allOf:
      - properties:
          id:
            items:
              maximum: 255
              minimum: 0
              type: integer
            type: array
        required:
        - id
        type: object
    DiscoveryAzureStorageAccountBlobAnalysis:
      allOf:
      - properties:
          encrypted_with_expired_key:
            type: boolean
          encrypted_with_exportable_key:
            type: boolean
          encrypted_with_noncompliant_key:
            type: boolean
          encrypted_with_overly_permissive_management_key:
            type: boolean
          encrypted_with_overly_permissive_usage_key:
            type: boolean
          encrypted_with_quantum_vulnerable_key:
            type: boolean
          encrypted_with_shared_key:
            type: boolean
          key_availability:
            $ref: '#/components/schemas/DiscoveryKeyAvailability'
        required:
        - encrypted_with_noncompliant_key
        - encrypted_with_overly_permissive_usage_key
        - encrypted_with_overly_permissive_management_key
        - key_availability
        - encrypted_with_shared_key
        - encrypted_with_quantum_vulnerable_key
        - encrypted_with_expired_key
        - encrypted_with_exportable_key
        type: object
    DiscoveryAzureStorageAccount:
      allOf:
      - properties:
          analysis:
            $ref: '#/components/schemas/DiscoveryAzureStorageAnalysis'
          blob_anonymous_access_enabled:
            type: boolean
          encryption_settings:
            $ref: '#/components/schemas/DiscoveryAzureEncryptionSettings'
          kind:
            $ref: '#/components/schemas/DiscoveryAzureStorageAccountKind'
          name:
            type: string
        required:
        - name
[...]
