openapi: 3.2.0
info:
  title: Fortanix Accounts API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
  description: 'Operations tagged Accounts across 2 of this provider''s published API definitions: fortanix-ccm-openapi-original.json, fortanix-dsm-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ccm.fortanix.com
- url: '{dsmEndpoint}'
  description: DSM Endpoint
  variables:
    dsmEndpoint:
      default: https://amer.smartkey.io
      description: Type your DSM server URL here (include https://)
tags:
- name: Accounts
paths:
  /v1/accounts:
    get:
      tags:
      - Accounts
      summary: Get all accounts
      description: Get detailed information about all accounts that the current user has permission to see.
      operationId: getAccounts
      x-auth-resource: UserAuth,Reader,Writer,Manager
      parameters:
      - name: scope
        in: query
        description: 'Specify the scope from which to get the accounts. Possible options: USER, SYSTEM.'
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum numbers of accounts to return.
        required: false
        schema:
          type: integer
      - name: previous_id
        in: query
        description: Id of account from previous page of results.
        required: false
        schema:
          type: string
          format: uuid
      - name: sort_by
        in: query
        description: Sort fields. In the format of key1:ASC,key2:DESC,key3:DESC
        required: false
        schema:
          type: string
      responses:
        '200':
          description: All account details for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
      security:
      - bearerToken: []
    post:
      tags:
      - Accounts
      summary: Create a new account
      description: Create a new account with the specified properties. Only an authenticated user can create an account.
      parameters:
      - $ref: '#/components/parameters/AccountRequest'
      operationId: createAccount
      x-auth-resource: UserAuth,Reader,Writer,Manager
      responses:
        '200':
          description: The details of the account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - bearerToken: []
    servers:
    - url: https://ccm.fortanix.com
  /v1/accounts/{account-id}:
    get:
      tags:
      - Accounts
      summary: Get a specific account
      description: Look up an account by account ID. Current user must belong to a particular account.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WithTotals'
      operationId: getAccount
      x-auth-resource: UserAuth,Reader,Writer,Manager
      responses:
        '200':
          description: Particular account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - bearerToken: []
    delete:
      tags:
      - Accounts
      summary: Delete an account
      description: Remove an account.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      operationId: deleteAccount
      x-auth-resource: NoAuth
      responses:
        '204':
          description: Nothing is returned on success.
      security:
      - bearerToken: []
    patch:
      tags:
      - Accounts
      summary: Update an account
      description: Update the properties of an account. Only certain properties may be changed with this API.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/AccountUpdateRequest'
      operationId: updateAccount
      x-auth-resource: Manager, UserAuth
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - bearerToken: []
    servers:
    - url: https://ccm.fortanix.com
  /sys/v1/accounts/{acct_id}/usage:
    get:
      operationId: AccountUsage
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Get account usage information.
      description: 'Get account usage information. See input and output of this API

        for info on what it can return.'
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CountParams'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsageResponse'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
  /sys/v1/accounts:
    post:
      operationId: CreateAccount
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Create a new account
      description: Create a new account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRequest_2'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
    get:
      operationId: ListAccounts
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Get info about all accounts
      description: 'A user can have access to multiple accounts and this API gets

        all accounts the calling user has access to.'
      parameters:
      - $ref: '#/components/parameters/GetAccountParams'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account_2'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
  /sys/v1/accounts/{acct_id}/replication/credentials:
    post:
      operationId: CreateReplicationCredential
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Create an admin app credential that can be used to perform account replication
      description: 'Note that this does _not_ immediately create a usable credential;

        further processing is necessary before it can be actually used for

        account replication.


        Currently, a single replication account can store up to two

        replication credentials.'
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReplicationCredentialRequest'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationCredential'
    get:
      operationId: ListReplicationCredentials
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Retrieve all stored replication credentials under the account
      description: Retrieve all stored replication credentials under the account.
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReplicationCredentialsResponse'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
  /sys/v1/accounts/{acct_id}:
    delete:
      operationId: DeleteAccount
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Delete an account
      description: Delete an account.
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Nothing is returned on success
    get:
      operationId: GetAccount
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Get info for a specific account
      description: 'A user can have access to multiple accounts and this API tries

        to look one up given by the input id.'
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/GetAccountParams'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
    patch:
      operationId: UpdateAccount
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Update account settings such as authentication, logging, etc
      description: Update account settings such as authentication, logging, etc.
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRequest_2'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
  /sys/v1/accounts/{acct_id}/replication/credentials/{credential_id}:
    delete:
      operationId: DeleteReplicationCredential
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Delete the specified replication credential
      description: Delete the specified replication credential.
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Nothing is returned on success
    get:
      operationId: GetReplicationCredential
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Retrieve the specified replication credential
      description: Retrieve the specified replication credential.
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationCredential'
    patch:
      operationId: UpdateReplicationCredential
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Update the specified replication credential
      description: 'This can be used to associate an app ID with the credential,

        and/or upload cert chains for the credential.'
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReplicationCredentialRequest'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationCredential'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
  /sys/v1/accounts/{acct_id}/replication/recent_scan_summary:
    get:
      operationId: RecentReplicationScanSummary
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Fetch a summary of recent scans
      description: Fetch a summary of recent scans.
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentScanSummary'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
  /sys/v1/accounts/{acct_id}/replication/credentials/{credential_id}/self_sign:
    post:
      operationId: ReplicationCredentialSelfSignedCert
      tags:
      - Accounts
      security:
      - bearerToken: []
      - apiKeyAuth: []
      summary: Generate a self-signed cert for the specified credential
      description: 'Note that this does _not_ immediately associate the certificate

        with the credential; the credential still needs to be updated

        afterwards.'
      parameters:
      - name: acct_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicationCredentialSelfSignedCertRequest'
      responses:
        2XX:
          description: Success result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationCredentialSelfSignedCertResponse'
    servers:
    - url: '{dsmEndpoint}'
      description: DSM Endpoint
      variables:
        dsmEndpoint:
          default: https://amer.smartkey.io
          description: Type your DSM server URL here (include https://)
components:
  parameters:
    AccountId:
      name: account-id
      in: path
      required: true
      description: UUID of an Account.
      schema:
        type: string
        format: uuid
    AccountUpdateRequest:
      name: body
      in: body
      required: true
      description: Request to update an account.
      schema:
        $ref: '#/components/schemas/AccountUpdateRequest'
    AccountRequest:
      name: body
      in: body
      required: true
      description: Request to create an account.
      schema:
        $ref: '#/components/schemas/AccountRequest'
    WithTotals:
      name: with_totals
      in: query
      required: false
      description: Whether to return the `totals` field in the response
      schema:
        type: boolean
        default: false
    GetAccountParams:
      in: query
      name: GetAccountParams
      schema:
        $ref: '#/components/schemas/GetAccountParams'
      explode: true
    CountParams:
      in: query
      name: CountParams
      schema:
        $ref: '#/components/schemas/CountParams'
      explode: true
  schemas:
    CaSet:
      type: string
      enum:
      - GLOBAL_ROOTS
    AccountRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the account. Accounts must be unique within a CCM instance.
        custom_logo:
          type: string
          format: binary
          description: Logo for an account. Max size 128Kb, .jpg, .png, .svg file formats only.
        auth_configs:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationConfig'
        node_enrollment:
          $ref: '#/components/schemas/NodeEnrollment'
        component:
          $ref: '#/components/schemas/AccountComponent'
    UserAccountStatus:
      type: string
      description: Status of an Account for a user.
      enum:
      - ACTIVE
      - PENDING
      - DISABLED
    TlsConfig:
      type: object
      properties:
        disabled:
          type: object
        opportunistic:
          type: object
        required:
          $ref: '#/components/schemas/TlsConfigRequired'
    AccessRoles:
      type: string
      description: Roles of a user.
      enum:
      - READER
      - WRITER
      - MANAGER
    CaConfig:
      type: object
      properties:
        ca_set:
          $ref: '#/components/schemas/CaSet'
        pinned:
          type: array
          items:
            type: string
            format: binary
    AccountStatus:
      type: string
      enum:
      - Active
      - Deactivated
    AccountComponent:
      type: string
      description: Get the account type.
      enum:
      - DEFAULT
      - CONFIDENTIAL_AI
    ObjectCounts:
      type: object
      required:
      - datasets
      - final_workflows
      - nodes
      properties:
        datasets:
          type: integer
          minimum: 0
        final_workflows:
          type: integer
          minimum: 0
        nodes:
          type: integer
          minimum: 0
    NodeEnrollment:
      type: object
      required:
      - attestation_enforcement_disabled_insecure
      properties:
        attestation_enforcement_disabled_insecure:
          type: boolean
    AccountUpdateRequest:
      type: object
      properties:
        name:
          type: string
        custom_logo:
          type: string
          format: binary
        add_auth_configs:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationConfig'
        mod_auth_configs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AuthenticationConfig'
        del_auth_configs:
          type: array
          items:
            type: string
            format: uuid
        enabled:
          type: boolean
        default_group_id:
          type: string
          format: uuid
        marketplace_group_id:
          type: string
          format: uuid
        account_status:
          $ref: '#/components/schemas/AccountStatus'
        azure_cvm_pcr_priority:
          $ref: '#/components/schemas/AzureCvmPcrPriority'
    AuthConfigOauth:
      type: object
      required:
      - idp_name
      - idp_icon_url
      - idp_authorization_endpoint
      - idp_token_endpoint
      - idp_requires_basic_auth
      - tls
      - client_id
      - client_secret
      properties:
        idp_name:
          type: string
        idp_icon_url:
          type: string
        idp_authorization_endpoint:
          type: string
        idp_token_endpoint:
          type: string
        idp_requires_basic_auth:
          type: boolean
        idp_userinfo_endpoint:
          type: string
        tls:
          $ref: '#/components/schemas/TlsConfig'
        client_id:
          type: string
        client_secret:
          type: string
    AccountListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    AzureCvmPcrPriority:
      type: array
      description: Ordered list of exactly the integer elements 0 through 22
      items:
        type: integer
    TlsConfigRequired:
      type: object
      required:
      - validate_hostname
      - ca
      properties:
        validate_hostname:
          type: boolean
        client_key:
          type: string
          format: binary
        client_cert:
          type: string
          format: binary
        ca:
          $ref: '#/components/schemas/CaConfig'
    AuthConfigRef:
      type: object
      required:
      - target_id
      properties:
        target_id:
          type: string
    Account:
      type: object
      required:
      - acct_id
      - node_enrollment
      - component
      properties:
        name:
          type: string
          description: Name of the account. Account names must be unique within a CCM instance.
        acct_id:
          type: string
          format: uuid
          description: Account ID uniquely identifying this account.
        created_at:
          type: integer
          format: int64
          description: When this account was created.
        roles:
          type: array
          description: Role of the current user in a particular account.
          items:
            $ref: '#/components/schemas/AccessRoles'
        custom_logo:
          type: string
          format: binary
          description: Logo of the particular account. Max size 128Kb, .jpg, .png, .svg file formats only.
        status:
          $ref: '#/components/schemas/UserAccountStatus'
        auth_configs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AuthenticationConfig'
        node_enrollment:
          $ref: '#/components/schemas/NodeEnrollment'
        totals:
          $ref: '#/components/schemas/ObjectCounts'
        component:
          $ref: '#/components/schemas/AccountComponent'
        default_group_id:
          type: string
          format: uuid
          description: Default group_id in an account.
        marketplace_group_id:
          type: string
          format: uuid
          description: Marketplace group_id for the account
        account_status:
          $ref: '#/components/schemas/AccountStatus'
        azure_cvm_pcr_priority:
          $ref: '#/components/schemas/AzureCvmPcrPriority'
    AuthenticationConfig:
      type: object
      properties:
        password:
          $ref: '#/components/schemas/AuthConfigPassword'
        oauth:
          $ref: '#/components/schemas/AuthConfigOauth'
        cluster_auth_ref:
          $ref: '#/components/schemas/AuthConfigRef'
    AuthConfigPassword:
      type: object
      description: Configuration for password-based authentication.
      required:
      - require_2fa
      - administrators_only
      properties:
        require_2fa:
          type: boolean
        administrators_only:
          type: boolean
    FpeInputProcessingPassthroughSpecific:
      allOf:
      - type: object
        properties:
          passthrough:
            type: array
            uniqueItems: true
            items:
              type: string
              minLength: 1
              maxLength: 1
          other:
            $ref: '#/components/schemas/FpeInputDefaultProcessing'
        required:
        - passthrough
        - other
    RsaEncryptionPaddingPolicy:
      description: RSA encryption padding policy.
      oneOf:
      - title: RsaEncryptionPaddingPolicyVariantOaep
        type: object
        properties:
          OAEP:
            $ref: '#/components/schemas/RsaEncryptionPaddingPolicyOaep'
        required:
        - OAEP
      - title: RsaEncryptionPaddingPolicyVariantPkcs1V15
        type: object
        properties:
          PKCS1_V15:
            type: object
            properties: {}
        required:
        - PKCS1_V15
      - title: RsaEncryptionPaddingPolicyVariantRawDecrypt
        type: object
        properties:
          RAW_DECRYPT:
            type: object
            properties: {}
        required:
        - RAW_DECRYPT
    LegacyKeyPolicy:
      type: string
      enum:
      - allowed
      - prohibited
      - unprotect_only
    MetadataDurationConstraint:
      oneOf:
      - title: MetadataDurationConstraintVariantForbidden
        type: object
        properties:
          forbidden:
            type: object
            properties: {}
        required:
        - forbidden
      - title: MetadataDurationConstraintVariantRequired
        type: object
        properties:
          required:
            $ref: '#/components/schemas/MetadataDurationConstraintRequired'
        required:
        - required
    CustomSubscriptionType:
      allOf:
      - type: object
        description: Custom subscription type
        properties:
          max_plugin:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_app:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_hsmg:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_operation:
            type:
            - integer
            - 'null'
          max_tokenization_operation:
            type:
            - integer
            - 'null'
          count_transient_ops:
            type:
            - boolean
            - 'null'
          package_name:
            type:
            - string
            - 'null'
          features:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SubscriptionFeatures'
          add_ons:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
          soft_ops_per_second_limit:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
    UserAccountFlags:
      description: User's role(s) and state in an account.
      allOf:
      - type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/UserAccountFlagOrRole'
    LoggingConfig:
      oneOf:
      - title: LoggingConfigVariantSplunk
        type: object
        properties:
          splunk:
            $ref: '#/components/schemas/SplunkLoggingConfig'
        required:
        - splunk
      - title: LoggingConfigVariantStackdriver
        type: object
        properties:
          stackdriver:
            $ref: '#/components/schemas/StackdriverLoggingConfig'
        required:
        - stackdriver
      - title: LoggingConfigVariantSyslog
        type: object
        properties:
          syslog:
            $ref: '#/components/schemas/SyslogLoggingConfig'
        required:
        - syslog
      - title: LoggingConfigVariantAzureLogAnalytics
        type: object
        properties:
          azure_log_analytics:
            $ref: '#/components/schemas/AzureLogAnalyticsLoggingConfig'
        required:
        - azure_log_analytics
      - title: LoggingConfigVariantAzureLogIngestion
        type: object
        properties:
          azure_log_ingestion:
            $ref: '#/components/schemas/AzureLogIngestionLoggingConfig'
        required:
        - azure_log_ingestion
    ClientConfigurations:
      allOf:
      - type: object
        properties:
          common:
            $ref: '#/components/schemas/CommonClientConfig'
          pkcs11:
            $ref: '#/components/schemas/Pkcs11ClientConfig'
          kmip:
            $ref: '#/components/schemas/KmipClientConfig'
          tep:
            $ref: '#/components/schemas/TepClientConfig'
    AccountPurposeType:
      description: The purpose of the account (minus any configuration-related details).
      oneOf:
      - $ref: '#/components/schemas/AccountPurposeTypeVariantStandard'
      - $ref: '#/components/schemas/AccountPurposeTypeVariantAccountReplication'
      discriminator:
        propertyName: $type
        mapping:
          Standard: AccountPurposeTypeVariantStandard
          AccountReplication: AccountPurposeTypeVariantAccountReplication
    AzureLogAnalyticsLoggingConfig:
      allOf:
      - type: object
        properties:
          enabled:
            type: boolean
          workspace_id:
            type: string
            format: uuid
          shared_key:
            type: string
            format: byte
        required:
        - enabled
        - workspace_id
    FpeConstraints:
      allOf:
      - type: object
        description: Constraints on a portion of a complex tokenization data type.
        properties:
          luhn_check:
            type:
            - boolean
            - 'null'
            description: 'Whether the token part contains a checksum that satisfies the Luhn formula. It is an

              error to apply this constraint to non-numeric parts, or to have an encrypted part be

              under more than one Luhn check constraint. Also, if an encrypted part has a Luhn check

              constraint applied to it and may contain at least one digit that is not preserved, it

              must not specify any other constraints.'
          num_gt:
            type:
            - integer
            - 'null'
            description: 'Number that the token part should be greater than.


              This constraint can only be specified on (non-compound) numeric encrypted parts

              guaranteed to preserve either everything or nothing at all. (For example, if an

              encrypted part consists of 5 to 10 digits, a `preserve` list that covers only the

              first five digits is not guaranteed to preserve everything, because if the input

              happens to be six or more digits long, there will be at least one digit that

              remains unpreserved.)'
          num_lt:
            type:
            - integer
            - 'null'
            description: 'Number that the token part should be smaller than.


              This constraint can only be specified on (non-compound) numeric encrypted parts

              guaranteed to preserve either everything or nothing at all. (For example, if an

              encrypted part consists of 5 to 10 digits, a `preserve` list that covers only the

              first five digits is not guaranteed to preserve everything, because if the input

              happens to be six or more digits long, there will be at least one digit that

              remains unpreserved.)'
          num_ne:
            type:
            - array
            - 'null'
            items:
              type: integer
            description: 'Numbers that the token part should not be equal to. It is an error to apply this

              constraint to non-numeric parts.'
          date:
            $ref: '#/components/schemas/FpeDateConstraint'
          applies_to:
            $ref: '#/components/schemas/FpeConstraintsApplicability'
    FpeWordsIntegerRanges:
      allOf:
      - type: object
        description: 'A union of positive integer ranges.


          ```plain

          Examples: [[0, 400], [402, 1000]]

          = {0000, 0001, ..., 0400, 0402, ..., 1000}


          [[1,3], [49, 50]] with optional padding of length 8

          = {00000001, 00000002, 00000003, 00000049, 00000050}

          (accepts 1, 01, 00002, 49, 000050, etc)

          ```'
        properties:
          ranges:
            type: array
            items:
              type: array
              items:
                type: integer
              minItems: 2
              maxItems: 2
          padding_required:
            type: boolean
            description: 'If this field is true, this set accepts only numeric strings

              padded to the length given by the maximum integer in the range

              set.'
        required:
        - ranges
        - padding_required
    SplunkLoggingConfig:
      allOf:
      - type: object
        description: Splunk logging configuration.
        properties:
          enabled:
            type: boolean
          host:
            type: string
          port:
            type: integer
            minimum: 0
            maximum: 65535
          index:
            type: string
          token:
            type: string
          tls:
            $ref: '#/components/schemas/TlsConfig_2'
          use_fqdn_hostname:
            type:
            - boolean
            - 'null'
            description: 'Enable sending the cluster FQDN as the hostname in log entries.


              Defaults to `true` for newly created configs, but remains `false` when the

              field is omitted to preserve backward compatibility.'
        required:
        - enabled
        - host
        - port
        - index
        - tls
    TlsConfig_2:
      description: TLS client settings.
      oneOf:
      - $ref: '#/components/schemas/TlsConfigVariantDisabled'
      - $ref: '#/components/schemas/TlsConfigVariantOpportunistic'
      - $ref: '#/components/schemas/TlsConfigVariantRequired'
      discriminator:
        propertyName: mode
        mapping:
          disabled: TlsConfigVariantDisabled
          opportunistic: TlsConfigVariantOpportunistic
          required: TlsConfigVariantRequired
    ListReplicationCredentialsResponse:
      allOf:
      - type: object
        description: Response body for a GET call to retrieve all replication credentials.
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ReplicationCredential'
            description: The list of replication credentials.
        required:
        - items
    ClientFileLoggingVariantEnabled:
      allOf:
      - type: object
        properties:
          mode:
            type: string
            enum:
            - enabled
        required:
        - mode
      - $ref: '#/components/schemas/ClientFileLoggingConfig'
    CipherMode:
      description: Cipher mode used for symmetric key algorithms.
      type: string
      enum:
      - ECB
      - CBC
      - CBCNOPAD
      - CFB
      - OFB
      - CTR
      - GCM
      - CCM
      - KW
      - KWP
      - FF1
    CaConfig_2:
      description: CA settings.
      oneOf:
      - title: CaConfigVariantCaSet
        type: object
        properties:
          ca_set:
            $ref: '#/components/schemas/CaSet_2'
        required:
        - ca_set
      - title: CaConfigVariantPinned
        type: object
        properties:
          pinned:
            type: array
            items:
              type: string
              format: byte
        required:
        - pinned
    ReplicationCredentialId:
      description: The ID of a replication credential.
      allOf:
      - type: string
    CountAccuracy:
      description: An indicator of how accurate a count of objects is.
      oneOf:
      - $ref: '#/components/schemas/CountAccuracyVariantExact'
      - $ref: '#/components/schemas/CountAccuracyVariantApproximate'
      discriminator:
        propertyName: $type
        mapping:
          Exact: CountAccuracyVariantExact
          Approximate: CountAccuracyVariantApproximate
    PluginCodeSigningPolicy:
      allOf:
      - type: object
        description: 'Plugin code signing policy.


          When a code signing policy is set, all requests to create new plugins or

          update existing plugins (if updating the code) would need to provide a valid

          signature.'
        properties:
          signing_keys:
            $ref: '#/components/schemas/SigningKeys'
        required:
        - signing_keys
    RemovablePkcs11ClientConfig:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/Pkcs11ClientConfig'
    ObjectTypeFilter:
      oneOf:
      - $ref: '#/components/schemas/ObjectTypeFilterVariantAll'
      - $ref: '#/components/schemas/ObjectTypeFilterVariantSelection'
      discriminator:
        propertyName: $type
        mapping:
          All: ObjectTypeFilterVariantAll
          Selection: ObjectTypeFilterVariantSelection
    KmipClientConfig:
      allOf:
      - type: object
        properties:
          ignore_unknown_key_ops_for_secrets:
            type:
            - boolean
            - 'null'
            description: Use `ignore_unknown_key_ops_for` with [SECRET] instead of `ignore_unknown_key_ops_for_secrets``
          ignore_unknown_key_ops_for:
            $ref: '#/components/schemas/ObjectTypeFilter'
          key_ops_override:
            $ref: '#/components/schemas/KeyOpsOverride'
    MetadataDurationConstraintRequired:
      allOf:
      - type: object
        properties:
          allowed_values:
            $ref: '#/components/schemas/RestrictedDuration'
    FpeCharSet:
      description: 'The alphabet to use for an encrypted portion of a complex tokenization data type.

        Characters should be specified as a list of pairs, where each pair [a, b] represents the

        range of Unicode code points from a to b, with both bounds being inclusive. A single

        code point can be specified as [c, c].


        Normally, each character is assigned a numeric value for FF1. The first character is

        assigned a value of 0, and subsequent characters are assigned values of 1, 2, and so on,

        up to the size of the alphabet. Note that the order of the ranges matters; characters

        appearing in later ranges are assigned higher numerical values compared to earlier

        characters. For instance, in the FpeCharSet [[''a'', ''z''], [''0'', ''9'']], the digits ''0'' to

        ''9'' are assigned values from 26 to 35, since they are listed after the ''a'' to ''z'' range.


        In any case, ranges should not overlap with each other, and should not contain surrogate

        code points.'
      allOf:
      - type: array
        items:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: string
            minLength: 1
            maxLength: 1
    ObjectTypeFilterVariantSelection:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Selection
        required:
        - $type
      - $ref: '#/components/schemas/ObjectTypeFilterSelection'
    SubscriptionFeatures:
      description: "Features in subscription\n\n\n\n          TOKENIZATION:\n\n\n          HMG:\n\n\n          AWSBYOK:\n\n\n          AZUREBYOK:\n\n\n          GCPBYOK:\n\n\n          GCPEKMCONTROLPLANE:\n\n\n          OCIBYOK:\n\n"
      type: string
      enum:
      - TOKENIZATION
      - HMG
      - AWSBYOK
      - AZUREBYOK
      - GCPBYOK
      - GCPEKMCONTROLPLANE
      - OCIBYOK
    ClientLogConfig:
      allOf:
      - type: object
        properties:
          system:
            type:
            - boolean
            - 'null'
          file:
            $ref: '#/components/schemas/ClientFileLogging'
          level:
            type:
            - string
            - 'null'
    CommonClientConfig:
      allOf:
      - type: object
        properties:
          retry_timeout_millis:
            type:
            - integer
            - 'null'
          cache_ttl:
            type:
            - integer
            - 'null'
          log:
            $ref: '#/components/schemas/ClientLogConfig'
          h2_num_connections:
            type:
            - integer
            - 'null'
          quorum_approval:
            $ref: '#/components/schemas/QuorumApprovalConfig'
    ReplicationCredentialSelfSignedCertResponse:
      allOf:
      - type: object
        description: Response from the endpoint to generate a new self-signed cert for a replication credential.
        properties:
          certificate:
            type: string
            format: byte
            description: The self-signed certificate generated by DSM.
        required:
        - certificate
    Bip32OptionsPolicy:
      allOf:
      - type: object
        properties: {}
    UpdateReplicationCredentialRequest:
      description: 'A request to update a replication credential (e.g., associating it with

        an app ID).


        Note that changing the credential from one type to another is disallowed;

        users should create a new credential instead.'
      oneOf:
      - $ref: '#/components/schemas/UpdateReplicationCredentialRequestVariantCertificate'
      discriminator:
        propertyName: $type
        mapping:
          Certificate: UpdateReplicationCredentialRequestVariantCertificate
    MlDsaOptionsPolicy:
      allOf:
      - type: object
        properties: {}
    UpdateReplicationCredentialRequestVariantCertificate:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Certificate
        required:
        - $type
      - $ref: '#/components/schemas/UpdateCertificateReplicationCredentialRequest'
    MgfPolicy:
      description: MGF policy.
      oneOf:
      - title: MgfPolicyVariantMgf1
        type: object
        properties:
          mgf1:
            $ref: '#/components/schemas/MgfPolicyMgf1'
        required:
        - mgf1
    WorkspaceCseConfig:
      allOf:
      - type: object
        description: 'Workspace CSE API settings. Specifying these settings enables the CSE APIs

          for the account.'
        properties:
          identity_providers:
            type: array
            items:
              $ref: '#/components/schemas/WorkspaceCseIdentityProvider'
            description: 'One or more Identity Providers (IdP) trusted to authenticate users.

              Note that we don''t check if Single Sign-On (SSO) settings exist for

              each IdP listed here, but it is recommended to add these IdPs in SSO

              settings as well (usually as OAuth/OIDC providers).'
          authorization_providers:
            type: array
            items:
              $ref: '#/components/schemas/WorkspaceCseAuthorizationProvider'
            description: 'One or more authorization providers used to validate authorization

              tokens. Different Workspace applications might require different

              authorization settings.'
          auth_method:
            $ref: '#/components/schemas/WorkspaceCseAuthMethod'
        required:
        - identity_providers
        - authorization_providers
    All:
      description: 'A helper enum with a single variant, All, which indicates that something should apply to an

        entire part. (This is here mainly to allow other untagged enums to work properly.)'
      type: string
      enum:
      - all
    FpeDataPartLiteral:
      allOf:
      - type: object
        description: 'A section of the data type that is not to be tokenized (e.g., a delimiter).


          Unlike preserved characters, literal characters are not used for FF1 tweaks.'
        properties:
          literal:
            type: array
            items:
              type: string
            description: 'The list of possible strings that make up this literal portion of the token.

              For example, if a delimiter can either be a space or a dash, the list would

              be `[" ", "-"]`.


              Implementation note: the backend will pick the first choice that matches when

              when parsing the input. If this results in an invalid parse of the rest of the

              input, the backend ***will not backtrack*** and will simply return with an error.'
        required:
        - literal
    ApprovalAuthConfig:
      allOf:
      - type: object
        description: Authentication requirements for approval request reviewers.
        properties:
          require_password:
            type:
            - boolean
            - 'null'
          require_2fa:
            type:
            - boolean
            - 'null'
    CountAccuracyVariantApproximate:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Approximate
        required:
        - $type
      - type: object
        properties: {}
    StackdriverLoggingConfigRequest:
      allOf:
      - type: object
        properties:
          enabled:
            type:
            - boolean
            - 'null'
          log_id:
            type:
            - string
            - 'null'
            description: The log ID that will receive the log items (see https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry).
          service_account_key:
            $ref: '#/components/schemas/GoogleServiceAccountKey'
    KeyExpiryAlertSiemToolConfig:
      allOf:
      - type: object
        properties:
          max_key_info_per_alert:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 65535
          config:
            $ref: '#/components/schemas/LoggingConfig'
        required:
        - config
    LoggingConfigRequest:
      oneOf:
      - title: LoggingConfigRequestVariantSplunk
        type: object
        properties:
          splunk:
            $ref: '#/components/schemas/SplunkLoggingConfigRequest'
        required:
        - splunk
      - title: LoggingConfigRequestVariantStackdriver
        type: object
        properties:
          stackdriver:
            $ref: '#/components/schemas/StackdriverLoggingConfigRequest'
        required:
        - stackdriver
      - title: LoggingConfigRequestVariantSyslog
        type: object
        properties:
          syslog:
            $ref: '#/components/schemas/SyslogLoggingConfigRequest'
        required:
        - syslog
      - title: LoggingConfigRequestVariantAzureLogAnalytics
        type: object
        properties:
          azure_log_analytics:
            $ref: '#/components/schemas/AzureLogAnalyticsLoggingConfigRequest'
        required:
        - azure_log_analytics
      - title: LoggingConfigRequestVariantAzureLogIngestion
        type: object
        properties:
          azure_log_ingestion:
            $ref: '#/components/schemas/AzureLogIngestionLoggingConfigRequest'
        required:
        - azure_log_ingestion
    ObjectTypeFilterVariantAll:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - All
        required:
        - $type
      - type: object
        properties: {}
    AriaOptionsPolicy:
      allOf:
      - type: object
        properties:
          key_sizes:
            type:
            - array
            - 'null'
            items:
              type: integer
              minimum: 0
              maximum: 4294967295
          random_iv:
            type:
            - boolean
            - 'null'
    FpeChecksum:
      type: string
      enum:
      - luhn
    LdapDnResolution:
      description: 'Distinguished Name (DN) resolution method. Given a user''s email address, a DN resolution method

        is used to find the user''s DN in an LDAP directory.'
      oneOf:
      - $ref: '#/components/schemas/LdapDnResolutionVariantConstruct'
      - $ref: '#/components/schemas/LdapDnResolutionVariantSearchByMail'
      - $ref: '#/components/schemas/LdapDnResolutionVariantUserPrincipalName'
      discriminator:
        propertyName: method
        mapping:
          construct: LdapDnResolutionVariantConstruct
          search-by-mail: LdapDnResolutionVariantSearchByMail
          upn: LdapDnResolutionVariantUserPrincipalName
    CreateReplicationCredentialRequestVariantCertificate:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Certificate
        required:
        - $type
      - type: object
        properties: {}
    ObjectType:
      description: Type of security object.
      type: string
      enum:
      - AES
      - ARIA
      - DES
      - DES3
      - SEED
      - RSA
      - DSA
      - EC
      - KCDSA
      - ECKCDSA
      - BIP32
      - SLIP10
      - BLS
      - OPAQUE
      - HMAC
      - LEDABETA
      - ROUND5BETA
      - SECRET
      - LMS
      - XMSS
      - MLDSA
      - MLDSABETA
      - MLKEM
      - MLKEMBETA
      - CERTIFICATE
      - PBE
    ApprovalRequestSettingsRequest:
      allOf:
      - type: object
        description: A request struct for modifying settings that apply to quorum approval requests.
        properties:
          approval_request_expiry:
            type:
            - integer
            - 'null'
            description: 'The number of seconds after which an approval request expires. Changing this

              setting will not change the expiry of existing approval requests, but it may

              still affect the "updated" expiry period assigned to existing requests upon

              their approval (see below for details).


              Upon creation, an approval request''s expiry date is (time of creation +

              expiry period). However, when the request is approved by all its approvers,

              its expiry date will be changed to (time of approval + expiry period).'
          retain_expired_requests:
            type:
            - boolean
            - 'null'
            description: 'Whether or not expired approval requests should be kept. (Obviously, any

              pending requests that have expired are no longer actionable!)


              This is only applicable for onprem clusters; the field is ignored in SaaS

              environments.'
          log_expired_pending_requests:
            type:
            - boolean
            - 'null'
            description: 'Whether or not expiry of pending approval requests should be audit logged.

              Changing this setting will not retroactively apply to existing expired

              approval requests.


              This is only applicable for onprem clusters; the field is ignored in SaaS

              environments.'
          check_access_for_sensitive_operation_results:
            type:
            - boolean
            - 'null'
            description: 'Whether or not the requester''s access should be checked again when they

              request to see the operation results for an approved quorum request with

              sensitive data in the output. Sensitive data includes secret values such

              as API keys, decrypted plaintext, exported key material etc. Note that

              if the result is not deemed sensitive this setting does not apply, e.g.

              approval request to sign a message (signatures are not deemed secret) or

              encrypt data (ciphertext is not deemed secret). Here is the list of all

              operations that are deemed sensitive (this list may be expanded in the

              future):


              - Get App Credential: `GET /sys/v1/apps/${app_id}/credential`

              - Decrypt:

              - Legacy version: `POST /crypto/v1/keys/${key_id}/decrypt`

              - New version: `POST /crypto/v1/decrypt`

              - Export Object Value:

              - Legacy version: `GET /crypto/v1/keys/${key_id}/export`

              - New version: `POST /crypto/v1/keys/export`

              - Batch: `POST /batch/v1` if any of the operations in the batch input is

              sensitive.


              This setting is introduced for backwards compatibility so that existing

              approval request workflows are not broken. For new use cases, it is

              recommended to leave this setting enabled.'
    CountAccuracyVariantExact:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Exact
        required:
        - $type
      - type: object
        properties: {}
    LdapDnResolutionVariantConstruct:
      allOf:
      - type: object
        properties:
          method:
            type: string
            enum:
            - construct
        required:
        - method
      - $ref: '#/components/schemas/LdapDnResolutionConstruct'
    RestrictedDuration:
      allOf:
      - type: object
        properties:
          min:
            $ref: '#/components/schemas/TimeSpan'
          max:
            $ref: '#/components/schemas/TimeSpan'
          default:
            $ref: '#/components/schemas/TimeSpan'
    AppCreditsUsage:
      allOf:
      - type: object
        properties:
          generic:
            type: integer
            minimum: 0
            maximum: 4294967295
          tokenization:
            type: integer
            minimum: 0
            maximum: 4294967295
          tep:
            type: integer
            minimum: 0
            maximum: 4294967295
          accelerator:
            type: integer
            minimum: 0
            maximum: 4294967295
          secrets_management:
            type: integer
            minimum: 0
            maximum: 4294967295
          aws_cloud_accounts:
            type: integer
            minimum: 0
            maximum: 4294967295
          azure_cloud_accounts:
            type: integer
            minimum: 0
            maximum: 4294967295
          gcp_cloud_accounts:
            type: integer
            minimum: 0
            maximum: 4294967295
          google_ekm_projects:
            type: integer
            minimum: 0
            maximum: 4294967295
          aws_xks_instances:
            type: integer
            minimum: 0
            maximum: 4294967295
        required:
        - generic
        - tokenization
        - tep
        - accelerator
        - secrets_management
        - aws_cloud_accounts
        - azure_cloud_accounts
        - gcp_cloud_accounts
        - google_ekm_projects
        - aws_xks_instances
    DsaOptionsPolicy:
      allOf:
      - type: object
        properties: {}
    LdapDnResolutionConstruct:
      allOf:
      - type: object
        description: Transform the user email through a pattern to derive the DN.
        properties:
          domain_format:
            type: object
            additionalProperties:
              type: string
            description: 'For example: "example.com" => "uid={},ou=users,dc=example,dc=com".'
        required:
        - domain_format
    OnPremSubscriptionType:
      allOf:
      - type: object
        description: OnPrem subscription type
        properties:
          count_transient_ops:
            type:
            - boolean
            - 'null'
    TepSchemaVariantOpenAPI:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - OpenAPI
        required:
        - $type
      - type: object
        properties:
          openapi:
            type: string
    AccountPurposeVariantStandard:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Standard
        required:
        - $type
      - type: object
        properties: {}
    KeyExpiryAlertConfig:
      allOf:
      - type: object
        properties:
          triggers:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/KeyExpiryAlertTrigger'
          siem_tool_configs:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/KeyExpiryAlertSiemToolConfig'
        required:
        - triggers
        - siem_tool_configs
    GetUsageResponse:
      allOf:
      - type: object
        description: The response from the account stats API (`/sys/v1/accounts/:acct_id/usage_report`).
        properties:
          num_operations:
            type: integer
            description: 'The count of all operations performed in the account. This value includes **both**

              key management (e.g., CRUD ops) and cryptographic operations (e.g., encrypt/decrypt).


              To illustrate, here are a few examples:

              - If you have a key which was copied to another group and then do a key rotation (with the key-links also being updated), the `num_operations` count will increase by two.

              - If you have a key and do an encrypt operation this will increase the `num_operations` and `encryption_operations` each by one.

              - If you delete a key, this will increase the only `num_operations` by one.'
          encryption_operations:
            type:
            - integer
            - 'null'
          decryption_operations:
            type:
            - integer
            - 'null'
          sign_operations:
            type:
            - integer
            - 'null'
          verify_operations:
            type:
            - integer
            - 'null'
          tokenization_operations:
            type:
            - integer
            - 'null'
          detokenization_operations:
            type:
            - integer
            - 'null'
          secrets_operations:
            type:
            - integer
            - 'null'
          plugin_invoke_operations:
            type:
            - integer
            - 'null'
          apps:
            $ref: '#/components/schemas/AppCreditsUsage'
          plugin:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          sobjects:
            type:
            - integer
            - 'null'
            description: 'The total number of sobjects in the account, or

              an approximation thereof. This field is present if

              the `saas_full_usage` query parameter is specified

              when retrieving account usage statistics.


              Note that all sobjects in the account are counted,

              regardless of whether the user has access to them.'
          sobjects_accuracy:
            $ref: '#/components/schemas/CountAccuracy'
          hsm_gateway:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          operation_top_app:
            type:
            - object
            - 'null'
            additionalProperties:
              type: integer
          operation_top_sobject:
            type:
            - object
            - 'null'
            additionalProperties:
              type: integer
        required:
        - num_operations
    ResellerSubscriptionType:
      allOf:
      - type: object
        description: Reseller subscription type
        properties:
          max_plugin:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_operation:
            type:
            - integer
            - 'null'
          max_tenant:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_tenant_plugin:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_tenant_operation:
            type:
            - integer
            - 'null'
          package_name:
            type:
            - string
            - 'null'
          features:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SubscriptionFeatures'
          add_ons:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
          tenant_features:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SubscriptionFeatures'
    ClientFileLoggingVariantDisabled:
      allOf:
      - type: object
        properties:
          mode:
            type: string
            enum:
            - disabled
        required:
        - mode
      - type: object
        properties: {}
    UpdateCertificateReplicationCredentialRequest:
      allOf:
      - type: object
        description: A request to update a certificate-based replication credential.
        properties:
          app_id:
            type:
            - string
            - 'null'
            format: uuid
            description: 'The app ID to associate with the credential. This should be the ID of

              a source-side admin app.'
          certificate_chain:
            type:
            - array
            - 'null'
            items:
              type: string
              format: byte
            description: 'The certificate chain to associate with the credential. This is a

              list of DER-encoded certificates, starting from the leaf certificate,

              and may consist of a single certificate if no intermediate

              certificates are necessary when authenticating with the source

              cluster.'
    AzureLogIngestionLoggingConfig:
      allOf:
      - type: object
        description: 'Azure Monitor Log Ingestion API logging configuration (DCR-based).

          Auth credentials are managed as an IntegrationCredential object via `CredentialId`.


          Note: This replaces the legacy `Azure Log Analytics` HTTP Data Collector API

          which Microsoft plans to deprecate on September 14th, 2026.'
        properties:
          enabled:
            type: boolean
          logs_ingestion_endpoint_url:
            type: string
            format: url
            description: 'The DCR logs ingestion endpoint URL (e.g. https://<dce>.ingest.monitor.azure.com).

              For public internet, this is the DCR''s built-in logs ingestion URL.

              For private link, this is the DCE URL.'
          dcr_immutable_id:
            type: string
            description: The immutable ID of the Data Collection Rule (DCR).
          stream_name:
            type: string
            description: The stream name defined in the DCR (e.g. "Custom-DSMAuditLog").
          credential_id:
            $ref: '#/components/schemas/CredentialId'
        required:
        - enabled
        - logs_ingestion_endpoint_url
        - dcr_immutable_id
        - stream_name
        - credential_id
    FpeConstraintsApplicability:
      description: A structure indicating which subparts to which to apply a set of constraints.
      oneOf:
      - $ref: '#/components/schemas/All'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/FpeConstraintsApplicability'
        description: 'An object representing the individual subparts that the constraints should apply to. This

          is a BTreeMap where for each key-value pair, the key represents the "index" of the subpart

          (with the first subpart having index 0), and the value is an FpeConstraintsApplicability

          instance. Note that a Multiple part only allows for one possible key-value pair, since it

          only contains one subpart. For Concat parts, the key is the zero-based index of the subpart

          in the `concat` field, and for Multiple parts, this is always 0 (due to a Multiple having

          only one subpart).


          This cannot be used with OR parts; instead, specify constraints individually on each

          relevant subpart.'
    LdapServiceAccount:
      allOf:
      - type: object
        description: Credentials used by the service to authenticate itself to an LDAP server.
        properties:
          dn:
            type: string
            description: Distinguished name of the service account.
          password:
            type: string
            description: The password for the service account.
        required:
        - dn
        - password
    MlKemOptionsPolicy:
      allOf:
      - type: object
        properties: {}
    RemovableKeyMetadataPolicy:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/KeyMetadataPolicy'
    AccountReplicationConnection:
      allOf:
      - type: object
        description: 'Settings for how a replication account should connect to a source cluster. This type does not

          handle configuration of a source-side admin app used in the replication process; such setup is

          handled by separate endpoints.'
        properties:
          url:
            type: string
            format: url
            description: The URL of the DSM cluster containing the account to back up. Only HTTPS is supported.
          active_replication_credential:
            $ref: '#/components/schemas/ReplicationCredentialId'
        required:
        - url
    FpeDatePart:
      description: 'Possible date-related constraint types that do not form a complete date (by themselves) for a

        complex tokenization data type.'
      type: string
      enum:
      - month
      - day
      - year
    OauthAuthParamPrompt:
      description: 'Corresponds to the `prompt` parameter in

        https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest'
      type: string
      enum:
      - login
      - none
      - consent
      - select_account
    ClientFileLoggingConfig:
      allOf:
      - type: object
        properties:
          path:
            type:
            - string
            - 'null'
          file_size_kb:
            type:
            - integer
            - 'null'
          max_files:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
    FpeCompoundPartOr:
      allOf:
      - type: object
        description: 'Represents an OR of multiple structures.


          Implementation note: an OR is _not_ a union of `FpeDataPart`s. Rather, when parsing

          the input, the backend will simply choose the first subpart that matches the current

          portion of the input, and tokenize/detokenize accordingly. If that choice results in

          an invalid parse of the rest of the input, the backend ***will not backtrack*** and

          will simply return with an error.'
        properties:
          or:
            type: array
            items:
              $ref: '#/components/schemas/FpeDataPart'
            description: The actual subparts that make up this compound part.
          constraints:
            $ref: '#/components/schemas/FpeConstraints'
          preserve:
            type:
            - boolean
            - 'null'
            description: 'Whether the entire OR should be preserved as-is (i.e., not tokenized). If this is

              set, any descendant subparts cannot contain any preserve-related fields set.'
          mask:
            type:
            - boolean
            - 'null'
            description: 'Whether the entire OR should be masked when doing masked decryption. If this is set,

              any descendant subparts cannot contain any mask-related fields set.'
          min_length:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
            description: The minimum allowed length for this part (in chars).
          max_length:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
            description: The maximum allowed length for this part (in chars).
        required:
        - or
    ReplicationScan:
      allOf:
      - type: object
        description: Information about a scan performed under a replication account.
        properties:
          started_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
            description: The time the scan began.
          finished_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
            description: The time the scan finished.
          error_message:
            type:
            - string
            - 'null'
            description: 'Any error message returned by the scan. If this field is empty, the

              scan is either ongoing, or returned successfully.'
        required:
        - started_at
    RemovableKeyHistoryPolicy:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/KeyHistoryPolicy'
    RsaEncryptionPolicy:
      allOf:
      - type: object
        description: Constraints on RSA encryption parameters. In general, if a constraint is not specified, anything is allowed.
        properties:
          padding:
            $ref: '#/components/schemas/RsaEncryptionPaddingPolicy'
    RsaSignaturePaddingPolicyPss:
      allOf:
      - type: object
        properties:
          mgf:
            $ref: '#/components/schemas/MgfPolicy'
    Quorum:
      allOf:
      - type: object
        description: Quorum approval policy.
        properties:
          n:
            type: integer
          members:
            type: array
            items:
              $ref: '#/components/schemas/QuorumPolicy'
        required:
        - n
        - members
      - $ref: '#/components/schemas/ApprovalAuthConfig'
    EllipticCurve:
      description: Identifies a standardized elliptic curve.
      type: string
      enum:
      - X25519
      - Ed25519
      - Ed448
      - X448
      - SecP192K1
      - SecP224K1
      - SecP256K1
      - NistP192
      - NistP224
      - NistP256
      - NistP384
      - NistP521
      - Gost256A
    XmssOptionsPolicy:
      allOf:
      - type: object
        properties: {}
    FpeInputDefaultProcessing:
      type: string
      enum:
      - strip
      - reject
    SubscriptionTypeTrial:
      allOf:
      - type: object
        description: A trial subscription on DSM SaaS.
        properties:
          expires_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
            description: 'The time that this subscription expires. If not set, the

              subscription will expire 30 days after the account''s creation

              date.


              The account''s `trial_expires_at` field can be used to determine

              the effective expiry date of a trial account.'
    UserAccountFlag:
      description: User account flag
      type: string
      enum:
      - STATEENABLED
      - PENDINGINVITE
    RecentScanSummary:
      allOf:
      - type: object
        description: A summary of the latest scans for a replication account.
        properties:
          in_progress:
            $ref: '#/components/schemas/ReplicationScan'
          last_completed:
            $ref: '#/components/schemas/ReplicationScan'
          last_successful:
            $ref: '#/components/schemas/ReplicationScan'
    RsaEncryptionPaddingPolicyOaep:
      allOf:
      - type: object
        description: 'The Optional Asymmetric Encryption Padding scheme, as defined

          in RFC 8017 (PKCS #1 version 2.2)'
        properties:
          mgf:
            $ref: '#/components/schemas/MgfPolicy'
    RemovablePluginCodeSigningPolicy:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/PluginCodeSigningPolicy'
    DaysAhead:
      allOf:
      - type: object
        properties:
          days:
            type: integer
            minimum: 0
            maximum: 65535
        required:
        - days
    CryptographicPolicy:
      allOf:
      - type: object
        properties:
          aes:
            $ref: '#/components/schemas/AesOptionsPolicy'
          aria:
            $ref: '#/components/schemas/AriaOptionsPolicy'
          des3:
            $ref: '#/components/schemas/Des3OptionsPolicy'
          rsa:
            $ref: '#/components/schemas/RsaOptionsPolicy'
          hmac:
            $ref: '#/components/schemas/HmacOptionsPolicy'
          ec:
            $ref: '#/components/schemas/EcOptionsPolicy'
          legacy_policy:
            $ref: '#/components/schemas/LegacyKeyPolicy'
          key_ops:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/KeyOperations'
          des:
            $ref: '#/components/schemas/DesOptionsPolicy'
          seed:
            $ref: '#/components/schemas/SeedOptionsPolicy'
          dsa:
            $ref: '#/components/schemas/DsaOptionsPolicy'
          kcdsa:
            $ref: '#/components/schemas/KcdsaOptionsPolicy'
          eckcdsa:
            $ref: '#/components/schemas/EcKcdsaOptionsPolicy'
          lms:
            $ref: '#/components/schemas/LmsOptionsPolicy'
          xmss:
            $ref: '#/components/schemas/XmssOptionsPolicy'
          mldsa:
            $ref: '#/components/schemas/MlDsaOptionsPolicy'
          mlkem:
            $ref: '#/components/schemas/MlKemOptionsPolicy'
          bip32:
            $ref: '#/components/schemas/Bip32OptionsPolicy'
          slip10:
            $ref: '#/components/schemas/Slip10OptionsPolicy'
          bls:
            $ref: '#/components/schemas/BlsOptionsPolicy'
          opaque:
            $ref: '#/components/schemas/OpaqueOptionsPolicy'
          secret:
            $ref: '#/components/schemas/SecretOptionsPolicy'
          certificate:
            $ref: '#/components/schemas/CertificateOptionsPolicy'
    RsaSignaturePaddingPolicy:
      description: RSA signature padding policy.
      oneOf:
      - title: RsaSignaturePaddingPolicyVariantPss
        type: object
        properties:
          PSS:
            $ref: '#/components/schemas/RsaSignaturePaddingPolicyPss'
        required:
        - PSS
      - title: RsaSignaturePaddingPolicyVariantPkcs1V15
        type: object
        properties:
          PKCS1_V15:
            type: object
            properties: {}
        required:
        - PKCS1_V15
    TepSchema:
      oneOf:
      - $ref: '#/components/schemas/TepSchemaVariantOpenAPI'
      discriminator:
        propertyName: $type
        mapping:
          OpenAPI: TepSchemaVariantOpenAPI
    EcOptionsPolicy:
      allOf:
      - type: object
        properties:
          elliptic_curves:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/EllipticCurve'
    AuthConfigOauth_2:
      allOf:
      - type: object
        description: OAuth single sign-on authentication settings.
        properties:
          idp_name:
            type: string
          idp_icon_url:
            type: string
          idp_authorization_endpoint:
            type: string
          idp_token_endpoint:
            type: string
          idp_userinfo_endpoint:
            type:
            - string
            - 'null'
          idp_requires_basic_auth:
            type: boolean
          tls:
            $ref: '#/components/schemas/TlsConfig_2'
          client_id:
            type: string
          client_secret:
            type: string
          auth_params:
            $ref: '#/components/schemas/OauthAuthenticationParameters'
        required:
        - idp_name
        - idp_icon_url
        - idp_authorization_endpoint
        - idp_token_endpoint
        - idp_requires_basic_auth
        - tls
        - client_id
        - client_secret
    AccountReplicationScanSettings:
      allOf:
      - type: object
        description: 'Settings for how DSM should go about replicating objects from the source account once a connection

          has been established.


          Today, account replication is performed using "basic" replication, which exports key material in

          the clear (over a TLS connection).'
        properties:
          auto_scan:
            $ref: '#/components/schemas/AutoScanSettings'
        required:
        - auto_scan
    AccountPurposeTypeVariantStandard:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - Standard
        required:
        - $type
      - type: object
        properties: {}
    LdapAuthorizationConfig:
      allOf:
      - type: object
        description: LDAP authorization settings.
        properties:
          valid_for:
            type: integer
            description: Number of seconds after which the authorization should be checked again.
          require_role:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
            description: 'A map from account roles to distinguished names of LDAP groups.

              If a DN is specified for an account role, entities with that role

              must be a member of the specified LDAP group.'
          user_self_provisioning:
            $ref: '#/components/schemas/LdapUserSelfProvisioningConfig'
          role_conflict_resolution:
            $ref: '#/components/schemas/LdapRoleConflictResolution'
        required:
        - valid_for
    DesOptionsPolicy:
      allOf:
      - type: object
        properties:
          random_iv:
            type:
            - boolean
            - 'null'
    ClientConfigurationsRequest:
      allOf:
      - type: object
        properties:
          common:
            $ref: '#/components/schemas/RemovableCommonClientConfig'
          pkcs11:
            $ref: '#/components/schemas/RemovablePkcs11ClientConfig'
          kmip:
            $ref: '#/components/schemas/RemovableKmipClientConfig'
          tep:
            $ref: '#/components/schemas/RemovableTepClientConfig'
    RemovableWorkspaceCseConfig:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/WorkspaceCseConfig'
    Des3OptionsPolicy:
      allOf:
      - type: object
        description: 'Cryptographic policy for triple DES objects. Setting `key_sizes: [168]`

          forbids two-key triple DES.'
        properties:
          key_sizes:
            type:
            - array
            - 'null'
            items:
              type: integer
              minimum: 0
              maximum: 4294967295
          random_iv:
            type:
            - boolean
            - 'null'
    FpeCompoundPartMultiple:
      allOf:
      - type: object
        description: 'Indicates a part that is possibly repeated multiple times.


          Implementation note: the backend parser is locally "greedy" and will attempt to match

          as many repetitions as possible. If this later results in an invalid parse of the rest

          of the input, the backend ***will not backtrack*** and will simply return with an error.'
        properties:
          multiple:
            $ref: '#/components/schemas/FpeDataPart'
          min_repetitions:
            type:
            - integer
            - 'null'
            description: 'The minimum number of times the subpart may occur. (A value of 1 marks a single

              occurrence.)'
          max_repetitions:
            type:
            - integer
            - 'null'
            description: 'The maximum number of times the subpart may occur. (A value of 1 marks a single

              occurrence.)'
          constraints:
            $ref: '#/components/schemas/FpeConstraints'
          preserve:
            type:
            - boolean
            - 'null'
            description: 'Whether the entire Multiple should be preserved as-is (i.e., not tokenized). If this

              is set, the `multiple` subpart and its descendants cannot contain any preserve-related

              fields set.'
          mask:
            type:
            - boolean
            - 'null'
            description: 'Whether the entire Multiple should be masked when doing masked decryption. If this is

              set, the `multiple` subpart and its descendants cannot contain any mask-related fields

              set.'
          min_length:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
            description: The minimum allowed length for this part (in chars).
          max_length:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
            description: The maximum allowed length for this part (in chars).
        required:
        - multiple
    SubscriptionExperimentalFeatures:
      allOf:
      - type: object
        properties: {}
    EcKcdsaOptionsPolicy:
      allOf:
      - type: object
        properties: {}
    AzureLogAnalyticsLoggingConfigRequest:
      allOf:
      - type: object
        properties:
          enabled:
            type:
            - boolean
            - 'null'
          workspace_id:
            type:
            - string
            - 'null'
            format: uuid
          shared_key:
            type: string
            format: byte
    TlsConfigVariantRequired:
      allOf:
      - type: object
        properties:
          mode:
            type: string
            enum:
            - required
        required:
        - mode
      - $ref: '#/components/schemas/TlsConfigRequired_2'
    KeyExpiryAlertTriggerVariantDaysAhead:
      allOf:
      - type: object
        properties:
          $type:
            type: string
            enum:
            - DaysAhead
        required:
        - $type
      - $ref: '#/components/schemas/DaysAhead'
    AccountApprovalPolicy:
      allOf:
      - type: object
        description: Account approval policy.
        properties:
          policy:
            $ref: '#/components/schemas/QuorumPolicy'
          manage_groups:
            type:
            - boolean
            - 'null'
          protect_authentication_methods:
            type:
            - boolean
            - 'null'
            description: When this is true, changes to the account authentication methods require approval.
          protect_cryptographic_policy:
            type:
            - boolean
            - 'null'
            description: When this is true, changes to the account cryptographic policy requires approval.
          protect_logging_config:
            type:
            - boolean
            - 'null'
            description: When this is true, changes to logging configuration require approval.
          protect_custom_role_updates:
            type:
            - boolean
            - 'null'
            description: When set to true, updating custom roles would require approval.
        required:
        - policy
    FpeOptionsBasic:
      allOf:
      - type: object
        description: 'Basic FPE-specific options. This is suitable for simple datatypes

          that consist of ASCII digits, or ASCII digits and uppercase letters.'
        properties:
          radix:
            type: integer
            minimum: 0
            maximum: 4294967295
            description: 'The FPE base for the input data (i.e., the size of the character

              set of the datatype). This must be an integer from 2 to 36.


              This also implicitly defines the alphabet of the datatype. A base

              from 2 to 10 implies ASCII digits (e.g., a radix of 3 can be used

              to represent a ternary string), and a base from 11 to 36 implies

              ASCII digits and uppercase letters (e.g., a radix of 16 can be'
          min_length:
            type: integer
            minimum: 0
            maximum: 4294967295
            description: The minimum allowed length for the input data.
          max_length:
            type: integer
            minimum: 0
            maximum: 4294967295
            description: The maximum allowed length for the input data.
          preserve:
            type: array
            items:
              type: integer
              format: int64
            description: 'The list of indices of characters to be preserved while performing encryption/decryption.

              Indices are Python-like; i.e., nonnegative indices index from the beginning of the input

              (where 0 is the first character), and negative indices index from the end of the input.

              (where -1 is the last character, -2 is second to last, and so on).


              Any preserved characters will be concatenated together and used as an FF1 tweak. For example,

              if the input data is "abcd", and the first and last characters are to be preserved, the FF1

              tweak will be the ASCII bytes of the string "ad".'
          mask:
            type:
            - array
            - 'null'
            items:
              type: integer
              format: int64
            description: 'The list of indices of characters to be masked while performing masked decryption.

              Indices are Python-like; i.e., nonnegative indices index from the beginning of the input

              (where 0 is the first character), and negative indices index from the end of the input.

              (where -1 is the last character, -2 is second to last, and so on).'
          luhn_check:
            type:
            - boolean
            - 'null'
            description: 'Whether the encrypted/decrypted data contains a checksum digit that satisfies the Luhn

              formula. (The output ciphertext/plaintext will also contain a Luhn checksum digit.)'
          name:
            type:
            - string
            - 'null'
            description: The user-provided name for the data type that represents the input data.
        required:
        - radix
        - min_length
        - max_length
        - preserve
    WorkspaceCseIdentityProvider:
      allOf:
      - type: object
        description: An identity provider trusted to authenticate users for Workspace CSE APIs
        properties:
          name:
            type: string
            maxLength: 4096
            pattern: ^[^\n]*[^\s\n][^\n]*$
            description: Identity provider's name
          signing_keys:
            $ref: '#/components/schemas/SigningKeys'
          valid_issuers:
            type: array
            uniqueItems: true
            items:
              type: string
            description: 'Acceptable values for the `iss` (issuer) field used in authentication

              tokens'
          valid_audiences:
            type: array
            uniqueItems: true
            items:
              type: string
            description: 'Acceptable values for the `aud` (audience) field used in authentication

              tokens'
        required:
        - name
        - signing_keys
        - valid_issuers
        - valid_audiences
    KeyOpsOverride:
      allOf:
      - type: object
        properties:
          add_key_ops:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/KeyOperations'
            description: 'The operations to add to any key creation request (only supported in KMIP).


              The following operations can be specified:

              - `EXPORT`

              - `APPMANAGEABLE`

              - `HIGHVOLUME`


              The operations specified cannot conflict with what''s specified in the

              `key_ops` field of account and/or group policies (where applicable).


              **Note**: This is only enforced on (KMIP) creation requests since we assume

              updates removing key operations are intentional.'
    RemovableTepClientConfig:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/TepClientConfig'
    SyslogLoggingConfigRequest:
      allOf:
      - type: object
        properties:
          enabled:
            type:
            - boolean
            - 'null'
          host:
            type:
            - string
            - 'null'
          port:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 65535
          tls:
            $ref: '#/components/schemas/TlsConfig_2'
          facility:
            $ref: '#/components/schemas/SyslogFacility'
          use_fqdn_hostname:
            type:
            - boolean
            - 'null'
            description: Enable sending the cluster FQDN as the hostname in log entries.
    RemovableCommonClientConfig:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/CommonClientConfig'
    LdapDnResolutionVariantSearchByMail:
      allOf:
      - type: object
        properties:
          method:
            type: string
            enum:
            - search-by-mail
        required:
        - method
      - type: object
        properties: {}
    RemovableCryptographicPolicy:
      oneOf:
      - type: string
        enum:
        - remove
      - $ref: '#/components/schemas/CryptographicPolicy'
    FpeDateDayMonthYear:
      allOf:
      - type: object
        description: 'Represents a date that consists of a Month subpart, a Day subpart, and a Year subpart. The

          Year part is allowed to be preserved, and the Day and Month parts are allowed to be

          preserved together. (The Day part cannot be preserved if the Month part is not, and vice

          versa.)'
        properties:
          before:
            $ref: '#/components/schemas/FpeDayMonthYearDate'
          after:
            $ref: '#/components/schemas/FpeDayMonthYearDate'
    Account_2:
      allOf:
      - type: object
        properties:
          acct_id:
            type: string
            format: uuid
          approval_policy:
            $ref: '#/components/schemas/AccountApprovalPolicy'
          auth_config:
            $ref: '#/components/schemas/AuthConfig'
          client_configurations:
            $ref: '#/components/schemas/ClientConfigurations'
          country:
            type:
            - string
            - 'null'
          created_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
          cryptographic_policy:
            $ref: '#/components/schemas/CryptographicPolicy'
          custom_logo:
            type: string
            format: byte
          custom_metadata:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
          custom_metadata_attributes:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/CustomAttributeSearchMetadata'
          description:
            type:
            - string
            - 'null'
          disabled_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
          enabled:
            type: boolean
          initial_purchase_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
          key_expiry_alert_config:
            $ref: '#/components/schemas/KeyExpiryAlertConfig'
          key_history_policy:
            $ref: '#/components/schemas/KeyHistoryPolicy'
          key_metadata_policy:
            $ref: '#/components/schemas/KeyMetadataPolicy'
          log_bad_requests:
            type:
            - boolean
            - 'null'
          log_retention_days:
            type:
            - integer
            - 'null'
          logging_configs:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/LoggingConfig'
          mark_key_disable_when_deactivated:
            type: boolean
            description: Enable the user to opt out from the current behaviour of key being marked as disabled at time of deactivation.
          max_app:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_group:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_operation:
            type:
            - integer
            - 'null'
          max_plugin:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_sobj:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          max_user:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
          name:
            type: string
            maxLength: 4096
            pattern: ^[^\n]*[^\s\n][^\n]*$
          notification_pref:
            $ref: '#/components/schemas/NotificationPref'
          organization:
            type:
            - string
            - 'null'
          original_purpose:
            $ref: '#/components/schemas/AccountPurposeType'
          parent_acct_id:
            type:
            - string
            - 'null'
            format: uuid
          pending_subscription_change_request:
            $ref: '#/components/schemas/SubscriptionChangeRequest'
          phone:
            type:
            - string
            - 'null'
          plugin_code_signing_policy:
            $ref: '#/components/schemas/PluginCodeSigningPolicy'
          plugin_enabled:
            type:
            - boolean
            - 'null'
          purpose:
            $ref: '#/components/schemas/AccountPurpose'
          subscription:
            $ref: '#/components/schemas/Subscription'
          totals:
            $ref: '#/components/schemas/ObjectCounts_2'
          trial_expires_at:
            type: string
            pattern: ^\d{4}\d{2}\d{2}T\d{2}\d{2}\d{2}Z$
            example: 20170509T070912Z
            description: 'The date when an account''s trial expires.


              It is recommended to rely on this field instead of looking at the account''s subscription to determine the expiry date, since not all trial subscriptions have the expiry date explicitly indicated.


              This field is read-only, and is not shown for non-trial accounts.'
          workspace_cse_config:
            $ref: '#/components/schemas/WorkspaceCseConfig'
        required:
        - acct_id
        - enabled
        - logging_configs
        - mark_key_disable_when_deactivated
        - name
        - original_purpose
        - purpose
        - subscription
      - $ref: '#/components/schemas/ApprovalRequestSettings'
    RsaOptionsPolicy:
      allOf:
      - type: object
        properties:
          encryption_policy:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/RsaEncryptionPolicy'
          signature_policy:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/RsaSignaturePolicy'
            description: 'Signature policy for an RSA key. When doing a signature operation, the policies are

              evaluated against the specified parameters one by one. If one matches, the operation is

              allowed. If none match, including if the policy list is empty, the operation is disallowed.

              Missing optional parameters will have their defaults specified according to the matched

              policy. The default for new keys is `[{}]` (no constraints).

              If (part of) a constraint is not specified, anything is allowed for that constraint.'
          minimum_key_length:
            type:
            - integer
            - 'null'
            minimum: 0
            maximum: 4294967295
            description: 'The minimum allowed key length. This is only relevant for group or account cryptographic

              policies (and hence has no effect in an RSA policy on a specific key).'
    SigningKeys:
      description: 'Signing keys used to validate JSON Web Signature objects including signed

        JSON Web Tokens.'
      oneOf:
      - $ref: '#/components/schemas/SigningKeysVariantStored'
      - $ref: '#/components/schemas/SigningKeysVariantFetched'
      discriminator:
        propertyName: kind
        mapping:
          stored: SigningKeysVariantStored
          fetched: SigningKeysVariantFetched
    ApiPath:
      allOf:
      - type: object
        properties:
          api_path:
            type: string
          method:
            type: string
          context:
            $ref: '#/components/schemas/TepKeyContext'
          key_path:
            type: string
        required:
        - api_path
        - method
        - context
        - key_path
    LdapUserSelfProvisioningConfig:
      allOf:
      - type: object
        description: 'LDAP user self-provisioning settings. Currently, the only

          setting available for configuration is the mapping from

          LDAP users to DSM account roles.'
        properties:
          role_assignment:
            $ref: '#/components/schemas/LdapUserSelfProvisioningRole'
        required:
        - role_assignment
    LdapUserSelfProvisioningRoleFixed:
      allOf:
      - type: object
        description: 'Map all self-provisioned users to a single specified account role.

          (Note that this setting only determines the role that a self-

          provisioned user starts with; an account admin can change any user''s

          role at a later time.) A "state enabled" flag will be implicitly added,

          and any specified "pending invite" flag will be removed.'
        properties:
          role:
            $ref: '#/components/schemas/UserAccountFlags'
        required:
        - role
    TepKeyMapList:
      allOf:
      - type: array
        items:
          $ref: '#/components/schemas/TepKeyMap'
    AuthConfigPassword_2:
      allOf:
      - type: object
        description: Password authentication settings.
        properties:
          require_2fa:
            type: boolean
            description: Require two-factor authentication for password logins.
          administrators_only:
            type: boolean
            description: 'Limit password login to account administators only.


              Note: password login will be always allowed for all users

              if there are no alternative authentication methods for the

              account.'
        required:
        - require_2fa
        - administrators_only
    Secs:
      allOf:
      - type: integer
    CredentialId:
      description: 'A wrapper type to provide better clarity that the id

        referenced is an integration credential object.'
      allOf:
      - type: string
        format: uuid
    HmacOptionsPolicy:
      allOf:
      - type: object
        properties:
          minimum_key_length:
            type:
            - integer
            - 'null'
[...]
